[2021-05-19 07:17] gauthamkrishna-sap commented on #376
We are still working on updating it. In the meantime, I can offer you this session from TechEd 2020: https://github.com/SAP-samples/teched2020-DEV165

This also contains mail adapter configuration with REST API and a non-SAP system. Hope you can get some hands on experience with this while we update this series.

Thanks and Best Regards,
Gautham

[2021-05-19 07:26] IObert opened #377 "Use the Application Router in Cloud Foundry to Connect to ABAP System"
Tutorials: https://developers.sap.com/tutorials/cp-connectivity-consume-odata-service-approuter.html
--------------------------

Step 5.
The SAP npm registry is deprecated, please remove this part of step 5.

Also, please note that the cockpit UI has changed several times since the screenshots were recorded. It would be great if you could update them as well.

Thanks

[2021-05-19 09:24] shilpavij commented on #169
Could you please check now. This is fixed

[2021-05-19 09:35] kulkarnir commented on #338
Hello Jay,

Thanks for the feedback,  we will take care

Regards,
Raghavendra

[2021-05-19 09:35] #338 closed

[2021-05-19 09:36] #337 closed

[2021-05-19 09:41] kulkarnir commented on #336
Hello Jay,

Could you please check if you have enabled API BUsiness Hub Enterprise (Developer Portal).

Regards,
Raghavendra

[2021-05-19 09:43] kulkarnir commented on #335
We will publish with updated screenshots soon

Regards,
Raghavendra

[2021-05-19 09:43] #335 closed

[2021-05-19 09:48] kulkarnir commented on #148
Hello,

You have not enabled API Business Hub Enterprise, please enable it and try again

Please check Step 4, Provision Capabilities

[2021-05-19 10:05] shilpavij commented on #168
This is decommissioned as of now

[2021-05-19 10:13] #336 closed

[2021-05-19 10:14] #169 closed

[2021-05-19 12:42] matbeerkens opened #378 "Deploy an SAP Conversational AI Chatbot to Microsoft Teams"
Tutorials: https://developers.sap.com/tutorials/conversational-ai-deploy-teams.html
--------------------------

Hi, in above tutorial, step 3.3 has changed in Azure Portal.
This is now located in "Configuration".

On top, the setup does not lead to an operational connection.

[2021-05-19 12:56] thecodester commented on #378
Yes, I just did the tutorial again and the screens were much different (in the end the configuration was basically the same) and I did not know if this was because the status of my subscription changed or the screens changed for everybody. I will try to update the tutorial soon.

[2021-05-19 13:06] thecodester commented on #308
I just did the tutorial again and I was able to get the chatbot to work -- I did not set any OAuth settings on either side, nor did I use the OAuth credentials/token from CAI. I did the tutorial as it is written (admittedly some of the screens have changed). You have to make sure you are taking the correct values from Azure into CAI, and it might take a few minutes for the setup to take hold.

[2021-05-19 13:09] danielva commented on #375
If you are using using SAP HANA SPS 05, I believe there are instructions at
https://help.sap.com/viewer/62e301bb1872437cbb2a8c4209f74a65/2.0.05/en-US/a3adb442cbc44a84a626d99014d3dbc9.html

If you are using SAP HANA Cloud, the following link lists some high level feature differences.
https://help.sap.com/viewer/3c53bc7b58934a9795b6dd8c7e28cf05/hanacloud/en-US/e131e792973348d1ac072590fe3d137c.html

[2021-05-19 13:18] matbeerkens commented on #378
Perfect, here is also an example: https://blogs.sap.com/2021/02/22/sap-conversational-artificial-intelligence-building-chatbot-with-ai-step-by-step-process-of-deploying-an-sap-ai-chatbot-on-microsoft-teams-and-telegram/
BTW it DOES work, my other bot is aparantly mallfunctioning.
This issue can be closed.

[2021-05-19 13:18] #378 closed

[2021-05-19 13:24] thecodester commented on #350
I have added an image to that section. Is that what you meant?

https://github.com/SAPDocuments/Tutorials/commit/880ec6034b3e6131824b8443b3d4ab05d15786a7

[2021-05-19 13:33] thecodester commented on #351
I have added this unset instructions: https://github.com/SAPDocuments/Tutorials/commit/24f57313f4633dd799731ceb3d592de172b3dbf3

Please check.

[2021-05-19 13:35] thecodester commented on #249
@gauthamkrishna-sap  Can you just give us an estimate of when the tutorials will be updated? Can the tutorials be done at all?

[2021-05-19 13:36] thecodester commented on #354
The buttons work again (actually a week ago). @Amster2017  Is everything OK for you? Please don't be discouraged and please go ahead and complete the tutorial.

[2021-05-19 15:00] romanisb commented on #373
Hi @vanita57

Sure. You're welcome. I assume that we can close this GH issue then, right?

Hmm, yes. That one is a bit tricky. You're corporate Github provider most-likely disallowed anonymous cloning. In that case credentials are needed although your repository is public. I will propose a change in the tutorial accordingly.

Best regards

Roman

[2021-05-20 09:22] KylerXu commented on #369
Hello,
Yes. I already subscribed to the Launchpad  service and assigned Launchpad_Admin role. But when I select "Go to Application",the error box appeared.
![image](https://user-images.githubusercontent.com/41565565/118952795-d2ea5800-b98e-11eb-9b00-8a17b2a592f5.png)
![image](https://user-images.githubusercontent.com/41565565/118953009-04fbba00-b98f-11eb-807d-370b3faafcaa.png)

Best Regards,
Kyler

[2021-05-20 10:27] pradeeppanda-sap commented on #248
trial dev should be working now. pls try again.

[2021-05-20 10:30] chauhanankit opened #379 "Get to Know SAP Tutorials"
Tutorials: https://developers.sap.com/tutorials/tutorial-getting-started.html
--------------------------

Write here what you need help with ...

I just finished the tutorial "Build Your First Chatbot with SAP Conversational AI".

During this time, I had few questions and confusion. Do we have an option for the instant support to clear our doubts?

[2021-05-20 11:49] mmcisme25 opened #380 "Get to Know SAP Tutorials"
Tutorials: https://developers.sap.com/tutorials/tutorial-getting-started.html
--------------------------
No help needed - just a comment.  In the first question.  "step 3" is incorrect.  However typing 3 is correct.   Interesting - but strange.  I wonder if I had typed "three" if that would have been correct.

[2021-05-20 13:12] ncastagno-tgv opened #381 "Matcher is not supported! Matcher name: 'I18NText'"
Tutorials: https://developers.sap.com/tutorials/cp-cicd-sytem-test.html
--------------------------

The problem is in step 5.20:
controlType: 'sap.m.Button',
I18NText: {
   propertyName: "text",
   key: "addToCartShort"
}
Execution fails with this error:
javascript error: Matcher is not supported! Matcher name: 'I18NText', arguments: '{"propertyName": "text", "key": "addToCartShort"}' Error: Match

[2021-05-20 14:32] rmaripeddi opened #382 "Create Queues and Queue Subscriptions for SAP Event Mesh"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-queue-queuesubscription.html
-------------------------

While I am clicking on go to application, getting authorization error as below.
![image](https://user-images.githubusercontent.com/64585357/118997076-008ecb80-b9a6-11eb-9b2d-26f4a1027e30.png)

**"You are not authorized to access the SAP Event Mesh Cockpit. Get your user as

[2021-05-21 09:29] KylerXu commented on #369
Hi Lindsay,

  1.  I tried several browsers, but the error box still appeared.
  2.  It works! Thanks. And thank you for Iris's good suggestions Have a nice weekend!

![image](https://user-images.githubusercontent.com/41565565/119115281-96cff980-ba59-11eb-9e31-97349f23ba2f.png)

Best Regards,
Kyler

[2021-05-21 09:30] #369 closed

[2021-05-21 10:09] pradeeppanda-sap commented on #382
if you are trying in trial landscape, it has to be a dev event mesh.  and the tutorial here is for event mesh of default type.
Hence, you have to use a productive landscape and use the default instance.

[2021-05-21 10:09] #382 closed

[2021-05-21 10:35] vinay31 opened #383 "Get Started with SAP Web Analytics | Internal Incident: 2180170193"
Mission: https://developers.sap.com/mission.cp-web-analytics-get-started.html
--------------------------

My subaccount details:
my user : vinay.godugu@itelligencegroup.com
Subaccount: trial
Subaccount ID:
bec16ccd-309e-4e17-aee1-545a7378948a
Tenant ID:
bec16ccd-309e-4e17-aee1-545a7378948a
Subdomain:
01eff9fbtrial
Org Name:
01eff9fbtrial
Org ID:
8e561976-c442-4dce-b677-7d67841ab067

API Endpoint:

[2021-05-21 10:44] miyasuta commented on #148
Hello @kulkarnir
Thanks for your reply.
I have enabled API Business Hub and now able to access it.

[2021-05-21 10:44] #148 closed

[2021-05-21 10:57] Vikramkulkarni01 commented on #383
Hi Vinay,

Thanks for reaching out to us.

With reference to your concern, I can see that you are facing an issue in authorizing space and you are unable to add space as well.

I will be now involving the expert team to get this issue checked for your trial instance. I will be working closely with them and keep you posted with an update.

I truly appreciate your patience.

Regards,
Vikram Kulkarni

[2021-05-21 11:03] rmaripeddi commented on #382
Is that possible to test the whole thing with trial landscape or do I need to purchase plan for default. If it is possible in trial version , could you please help me with the document which I can follow.

[2021-05-21 12:43] dheffernan-sap opened #384 "Set Up Your Local Infrastructure to Develop with SAP Cloud SDK"
Tutorials: https://developers.sap.com/tutorials/s4sdk-setup.html
--------------------------

Write here what you need help with ...

I am getting an error when executing mvn clean package. The error is when maven runs the integration tests:
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.938 s <<< FAILURE! - in com.sap.cloud.sdk.tutorial.HelloWorldServletTest
[ERROR] com.

[2021-05-23 14:52] maulik-parekh opened #385 "Display Database Content and Run SQL Queries"
Tutorials: https://developers.sap.com/tutorials/abap-display-data-queries.html
--------------------------

Hi,

I am unable to view data in Eclipse with ABAP Could Project - SAP BTP trial account. Error 'No authorization to view data'.

(Step 2: Select a database table.)

Please suggest how to add authorization.

Regards,

![image](https://user-images.githubusercontent.com/84318760/119265428-52cd2

[2021-05-23 15:39] ag3silaus opened #386 "Add Views and Define Routes to Access Them"
Tutorials: https://developers.sap.com/tutorials/sapui5-101-add-routing.html
--------------------------

Hello when i try to open my Preview i'm getting this error.
ui5loader-dbg.js:1297 GET https://workspaces-ws-f8xnz-app2.eu10.trial.applicationstudio.cloud.sap/resources/sap/btp/sapui5/controller/List.controller.js net::ERR_ABORTED 404
Could you tell me please why i am getting this error. Thank yo

[2021-05-23 16:20] guyperets opened #387 "Configure SAP HANA service smart data integration for SAP BTP with the SAP HANA service for SAP BTP"
Hi,

I can't connect to the BTP trial account (connect to SAP Cloud Platform CF, SAP HANA Service via JDBC )- I'm getting the following error:

**Connecting to SAP HANA server via JDBC...
Failed to connect to SAP HANA server via JDBC.
Context: Failed to connect to server SAP DBTech JDBC: Cannot connect to jdbc:sap://hana.trial-eu10.hanacloud.ondemand.com:443 [Unknown host hana.trial-eu10.hanacloud

[2021-05-24 11:12] thecodester commented on #308
The screens are somewhat different in Azure but the process was the same. Make sure to create the secret in Azure and take the value right away, and use the secret not the secret ID.

I will close the issue now but feel free to reopen and ask any questions you have.

[2021-05-24 11:12] #308 closed

[2021-05-24 11:12] thecodester commented on #350
I will close the issue as I've added the contents, but feel free to provide additional comments.

[2021-05-24 11:12] #350 closed

[2021-05-24 11:13] thecodester commented on #351
I will close the issue since the tutorial is updated but feel free to reopen or provide additional comments.

[2021-05-24 11:13] #351 closed

[2021-05-24 11:13] #354 closed

[2021-05-24 11:14] thecodester commented on #380
I have changed the question and happy you completed the mission.

[2021-05-24 11:14] #380 closed

[2021-05-24 11:14] thecodester commented on #379
I'm happy to help. What exactly do you need help with?

[2021-05-24 12:44] jung-thomas commented on #387
The main issue I see right away is that this tutorial is marked as not for Trial Accounts:
**This tutorial cannot be completed with a trial account.**

Yes I can see from the URL you provided in the error message that you are trying to use this on trial. This tutorial can only be perform on a production account with access to an instance of SAP HANA service for SAP BTP.

I would also suggest that

[2021-05-24 12:44] #387 closed

[2021-05-24 14:34] cjbernal commented on #386
Hi there,

Just for clarification, you're seeing this issue on the very last step? "Step 5: Test it"?

Kind regards,
Conrad

[2021-05-24 21:55] ag3silaus commented on #386
Hello Conrad,
Yes, i am getting this issue on last step.
Kind regards,
Burak

[2021-05-25 06:57] pradeeppanda-sap commented on #382
hi.,
 Sorry for little late in replying.
 To be able to work on Default type of Event Mesh, you need to use the productive one. Details as you know is available in sap store. It is charged on the traffic.

regards
Pradeep

[2021-05-25 15:51] bcschaich opened #388 "Deploy Commerce Mock Application in the Kyma Runtime"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-mocks.html
--------------------------

Step 2 in this tutorial (upload of a YAML) does not work with Firefox. Maybe mark to use another browser (Chrome worked, of course)

[2021-05-25 16:17] bcschaich opened #389 "Deploy Commerce Mock Application in the Kyma Runtime"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-mocks.html
--------------------------

The page does not link to the next step in the mission (such there is no actual use of what we built)

[2021-05-25 16:40] bcschaich opened #390 "Trigger a Microservice with an Event"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-microservice-trigger.html
--------------------------
Step 6.1: The option now is under "Discovery and Network" not  "configuration" any longer.

[2021-05-26 08:25] Vikramkulkarni01 commented on #383
Hi @vinay31,
With reference to your concern, our internal team is analyzing the logs and they are performing a deeper investigation.

I am working closely with the team and keep you posted with an update.

Regards,
Vikram Kulkarni

[2021-05-26 09:35] Vikramkulkarni01 commented on #383
Hi @vinay31,

With reference to your concern, I received an update from my internal team they confirmed an issue that you are facing and they will be providing the fix by end of this week. I kindly request you to try the same after 30th May 2021.

Since there are no actions required from our end I will be closing this issue.

Please feel free to reopen it if the issue persists.

Regards,
Vikram Ku

[2021-05-26 09:35] #383 closed

[2021-05-26 11:49] russellw999 opened #391 "Help Thomas Get Started with SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-trial-advanced-analytics.html
--------------------------

Write here what you need help with ...

I found this tutorial very useful for getting to grips with the new look  SAP Cloud Interface , particularly the Business Application Studio.  I think it would make a good Pre Requisite Tutorial to the Mission
 "Use Clients to Query an SAP HANA Data

[2021-05-26 12:39] jcawley5 commented on #390
Thank you for the feedback. The tutorial will be corrected in the next push to production.

[2021-05-26 12:39] #390 closed

[2021-05-26 12:48] jcawley5 commented on #388
Hello, I can not replicate the issue using firefox 88.0.1. Please make sure you are using the latest version and have no browsers add-ons that may block the process. If you continue to experience issues please create an issue in the Kyma repo at https://github.com/kyma-project/kyma/issues including the output found in the browser developer console.

[2021-05-26 12:48] #388 closed

[2021-05-26 13:49] jung-thomas commented on #391
Thanks for the kind words regarding this tutorial and I'm glad you found it helpful. I don't own the Use Clients... tutorial, but I can reach out to the author and ask if they want to add a link to this tutorial in their prerequisites section.

[2021-05-26 13:49] #391 closed

[2021-05-26 15:19] eguo opened #392 "Install the MultiApps Cloud Foundry CLI Plugin"
Tutorials: https://developers.sap.com/tutorials/cp-cf-install-cliplugin-mta.html
--------------------------

After I completed exact steps of this tutorials, when I run following command on my mac.

`$ cf deploy my.mtar -e my.mtaext  `

I got following output:

`'deploy my.mtar' is not a registered command. See 'cf help -a'`

[2021-05-27 07:50] MatKuhr commented on #384
Hi & sorry for the late response. A `NoClassDefFoundError` often indicates a dependency version mismatch or conflict.

Specifically `java.security.acl.Group` was deprecated with Java 9 and removed I think with 14. Which Java version are you using?

[2021-05-27 08:44] newtork commented on #384
What does the following command return for you?
[code]

[2021-05-27 08:52] iwonahahn commented on #341
Hi @EnjoyM2012,

We haven't heard from you in a while, so we are closing the issue.
If you still have questions, feel free to reopen the issue.

Best regards,
Iwona

[2021-05-27 08:52] #341 closed

[2021-05-27 08:54] iwonahahn commented on #347
Hi @PierreFritsch,

the service SAP HANA Schemas & HDI Containers Trial (`hanatrial`) was removed for newly created trial accounts. You now need to use the trial service on SAP HANA Cloud (`hana-cloud-trial`) to deploy your application. To avoid confusion we will update the tutorial asap.

Best regards,
Iwona

[2021-05-27 09:35] IObert commented on #392
Hi,

can you confirm that you see the multiapps plugin when you run the command from step 3:
[code]

[2021-05-27 15:26] mendesthi opened #393 "Enable the SAP Cloud Platform, API Management Service"
Tutorials: https://developers.sap.com/tutorials/hcp-apim-enable-service.html
--------------------------

Hi guys,
I think this is outdated, would you mind to check.
Thanks.

[2021-05-28 06:19] shilpavij commented on #393
Dear Colleague,

Yes, you are right. It should be deleted as we already have Integration Suite starter tutorial https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html

Regards
Shilpa

[2021-05-28 12:13] ArchanaShukla commented on #366
this is fixed and updates tutorial is now available.

[2021-05-28 12:13] #366 closed

[2021-05-28 12:36] ncastagno-tgv commented on #381
Hello Michael
Nothing to comment?

Regards
Néstor

[2021-05-28 12:56] georgbischoff commented on #381
Hi Néstor,

sorry for the delay. You are right, the correct matcher is as follows (with a lowercase i at the beginning):

[code]

I further propose to use the tutorial that uses the Test Recorder instead of the UI5 Inspector: https://developers.sap.com/de/tutorials/cp-cicd-systemtest-recorder.html

Let me know if you have further questions.

Regards,
Georg Bischoff

[2021-05-28 20:11] npansap opened #394 "Create Sales Order App with SAP RAD by Mendix"
Tutorials: https://developers.sap.com/tutorials/mendix-salesorders.html
--------------------------

On step 3 "Import module in Mendix app", I get an error trying to import the .mpk file generated from the previous step (screenshot attached).  I can't seem to find a compatible version of the OData Model Creator - there is only the one (outdated) version online, and it appears not to be available a

[2021-05-30 02:46] superwangnan opened #395 "Create Destination for SAP API Management Service"
Tutorials: https://developers.sap.com/tutorials/cp-apim-sales-tracker-create-destination.html
--------------------------

Hi team,

Do we have a tutorial for how to create destination and work with Business application studio? By this tutorial, we can list the apis of api management by WebIDE. So, I want to implement the same result as BAS.

Thanks.

[2021-05-30 13:36] DIBYAJYOTINANDA opened #396 "Deploy Your First SAPUI5 App"
Tutorials: https://developers.sap.com/tutorials/appstudio-sapui5-create.html
--------------------------

Write here what you need help with ...

unable to deploy the app with the steps followed
cf html5-list -di sap-btp-sapui5-destination-service -u --runtime launchpad

cf html5-list -di sap-btp-sapui5-destination-service -u --runtime cpp

![image](https://user-images.githubusercontent.com/6195570

[2021-05-30 13:56] DIBYAJYOTINANDA opened #397 "SAP MTA Project myapphana deployment error"
Hi Team,

I am trying to deploy the MTA application myapphana from the Github via Business application studio.
but as per the steps the app is not deploying due to some issue.

https://www.youtube.com/watch?v=-b78yas5RQ4&list=PLkzo92owKnVw3l4fqcLoQalyFi9K4-UdY&index=16

![image](https://user-images.githubusercontent.com/6195570/120106846-4d2f8f00-c17c-11eb-8875-eb7618fd15ed.png)

![image](https://

[2021-05-30 18:24] russellw999 opened #398 "Create an Empty SAPUI5 Project"
Tutorials: https://developers.sap.com/tutorials/sapui5-101-create-project.html
--------------------------

Write here what you need help with ...

I get to step 8 and press Finish to complete my project and the following messages appear
" Dependencies are being loaded "
" Project Generated and saved for future use"

The only problem is there is no Project ?

I have cycled though this twice

The pr

[2021-05-30 22:50] d023604 opened #399 "Refine the List Report with Additional Annotations"
Tutorials: https://developers.sap.com/tutorials/fiori-tools-cap-modify-list-report.html
--------------------------

Just a minor improvement - In Step 4 - the text says to set the Initial Load property to True - as shown in the image accompanying the text.

In SAP Fiori Tools 1.2.0 in Visual Code, the Initial Load property has four permitted values: space, Auto, Enabled, Disabled.

Suggest adjusti

[2021-05-31 04:10] vinay31 commented on #383
Hi Vikram,

Thank you. I tried today, but still same behaviour. Please suggest.

Cheers,
Vinay

[2021-05-31 04:41] Vikramkulkarni01 commented on #383
Hi Vinay,
Thanks for the feedback.

You just need to unsubscribe and re-subscribe to the service then only it will work.

Could you please follow the below steps:

  1.   Unsubscribe and re-subscribe to the service of you would have already subscribed.
  2.  If the above step doesn’t work, delete the sub account, create new one, and subscribe to the service  once again.

Per recommendation, you mu

[2021-05-31 04:53] vinay31 commented on #383
Thanks, Vikram. It worked now. Appreciate you and your team for this fix. Have a good week ahead.

[2021-05-31 04:56] Vikramkulkarni01 commented on #383
Thanks for the confirmation Vinay.

I truly appreciate your feedback.

Thanks and Regards,
Vikram Kulkarni,
Information Architect and User Assistance Lead, SAP BTP.

________________________________
From: vinay31 ***@***.***>
Sent: Monday, May 31, 2021 10:23:58 AM
To: SAPDocuments/Issues ***@***.***>
Cc: Kulkarni, Vikram ***@***.***>; State change ***@***.***>
Subject: Re: [SAPDocuments/Issues] Ge

[2021-05-31 06:19] MichaelCzcz commented on #397
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-05-31 06:19] #397 closed

[2021-05-31 06:29] shilpavij commented on #395
Dear Colleague,

As of today,APIM does not support BAS.

Regards
shilpa

[2021-05-31 06:29] #395 closed

[2021-05-31 14:57] wivwiv opened #400 "How to send msg to Event Mesh use MQTT.js or other MQTT client？"
I want to send a message to event mesh.

I create an instance in *Cloud Foundry* Space and created a  *Service Key*.

 *Service Key*:
[code]

 *How to get mqtt.js client info and topic?*
[code]

[2021-06-01 06:46] MichaelCzcz commented on #400
These GitHub issues are to resolve issues (i.e., problems/errors) with the tutorials. Your question seems more general and likely
would get more visibility -- and a better answer -- in the SAP Community's Questions & Answers. You can ask your question at:
https://answers.sap.com/index.html

[2021-06-01 06:46] #400 closed

[2021-06-02 12:48] hunkaf opened #401 "Deploy a CAP Business Application to SAP Business Technology Platform"
Tutorials: https://developers.sap.com/tutorials/cap-service-deploy.html
--------------------------

This command throws an error:
cf create-service hanatrial hdi-shared my-bookshop-db

The plan hdi-shared could not be found for service hanatrial.
FAILED

[2021-06-02 14:18] iwonahahn commented on #401
Hi @hunkaf,

the service SAP HANA Schemas & HDI Containers Trial (hanatrial) was removed for newly created trial accounts. You now need to use the trial service on SAP HANA Cloud (hana-cloud-trial) to deploy your application. To avoid confusion we will update the tutorial asap.

Best regards,
Iwona

[2021-06-02 15:30] ianquigley-sap commented on #398
Hi @russellw999,

Thanks for your feedback.  After successfully creating a project with the generator, the following will happen:

1. If you already have the project workspace open in your workspace, you will see the project files already available.
2. If you do not have a workspace open (as in this case), you will not see the project displayed, and will have to open the workspace as detailed in s

[2021-06-03 09:26] daniel-torok opened #402 "Use SAP HANA as the Database for a CAP Java Application"
Tutorials: https://developers.sap.com/tutorials/cp-cap-java-hana-db.html
--------------------------

After executing step 3 / 3 : "Add the following configuration in the file .cdsrc.json in the root folder of your bookstore project:"
The mentioned effect does not happen. What commands should we execute to get the '.hdbtable and .hdbview' files?

[2021-06-03 13:47] MichaelCzcz commented on #375
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-03 13:47] #375 closed

[2021-06-03 13:47] MichaelCzcz commented on #344
Thank you for your feedback. We haven't heard from you in the past 30 days, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-03 13:47] #344 closed

[2021-06-03 13:49] MichaelCzcz commented on #373
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-03 13:49] #373 closed

[2021-06-03 13:50] MichaelCzcz commented on #349
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-03 13:50] #349 closed

[2021-06-03 16:23] maulik-parekh commented on #385
Requesting for suggestion.

[2021-06-03 21:57] iwonahahn commented on #347
Hi @PierreFritsch,

I have tested it with a newly created trial subaccount and you are right. For the service SAP HANA Schemas & HDI Containers Trial the plan `securestore` can be used. It works with `cf create-service hanatrial securestore my-bookshop-db` in step 3.1. I have updated the tutorial today. Thank you for reporting and testing it :).

@minionbee: In step 3.1 try

`cf create-service han

[2021-06-03 21:57] #347 closed

[2021-06-03 22:00] iwonahahn commented on #364
Hi @Askullu and @MamathaKH,

The issue is resolved and I have updated the tutorial, see my comment in this [issue](https://github.com/SAPDocuments/Issues/issues/347#issuecomment-854209352).

Best regards,
Iwona

[2021-06-03 22:00] #364 closed

[2021-06-03 22:00] iwonahahn commented on #401
Hi @hunkaf,

The issue is resolved and I have updated the tutorial, see my comment in this [issue](https://github.com/SAPDocuments/Issues/issues/347#issuecomment-854209352).

Best regards,
Iwona

[2021-06-03 22:00] #401 closed

[2021-06-04 07:49] annwansuper opened #403 "Deploy an App to SAP BTP, Cloud Foundry runtime"
Tutorials: https://developers.sap.com/tutorials/cp-cf-dev-02-deploy-app.html
--------------------------

Deployed the application failed with cf-sample-app-nodejs-master.zip with mainfest.yml
Encounter an internal error.
![error](https://user-images.githubusercontent.com/85337439/120766086-753c3b00-c54c-11eb-94a9-7bd7d0fabbdc.jpg)

[2021-06-04 11:15] MrEntwickler opened #404 "Develop a Fiori App Using the ABAP RESTful Application Programming Model (Managed Scenario)"
Group: https://developers.sap.com/group.abap-env-restful-managed.html
--------------------------

Hello Team,

Thank you very much for your tutorials on https://developers.sap.com/ .

But one thing I feel missing here in your tutorial( Develop a Fiori App Using the ABAP RESTful Application Programming Model (Managed Scenario) ) is mentioning of prerequisites like stack details viz component and th

[2021-06-04 13:49] ArchanaShukla commented on #327
Hello, sorry for asking it again but can you (a) can you try creating the project again and check, (b) if you open Developer Console of your browser and send the Network trace for the error. Thanks!

[2021-06-04 15:08] sandeep-tds commented on #175
Hi @fleischr

[This Mission](https://developers.sap.com/mission.mobile-dev-kit-get-started.html) is a great place to get started with Mobile Development Kit.

Please let me know if you need further information.

[2021-06-06 11:56] ag3silaus opened #405 "Continue Your OData Exploration with EPM"
Tutorials: https://developers.sap.com/tutorials/odata-02-exploration-epm.html
--------------------------
Hello Guys,
in Step 4: Have related data included in an entity set request. I couldn't be able to find sub categories for the Computer Systems main category. Can you explain why I can't see?
Thank you in advance.

[2021-06-07 06:40] beckermarc commented on #402
Hi, yes this hint is a little bit misplaced. The files are only generated after executing the `cds deploy --to hana:bookstore-hana` command mentioned after that. Can you try this?

[2021-06-07 06:48] qmacro commented on #405
Hi @ag3silaus can you please explain a little more about what issue you have? The Computer Systems main category (and subcategories) is at this URL https://sapes5.sapdevcenter.com/sap/opu/odata/sap/EPM_REF_APPS_SHOP_SRV/MainCategories('Computer%20Systems')/SubCategories?$format=json (with the extra `$format=json` query parameter):

[code]

[2021-06-07 06:50] qmacro commented on #403
This is for issues with the tutorial content, rather than with issues relating to the system. Please follow [the link to open up a question in the Community Q&A](https://answers.sap.com/questions/ask.html?topics=tutorial-navigator&topics=tutorials-cp-cf-dev-02-deploy-app&primaryTagId=finder_technical:trust_center/cloud_solution/sap_business_technlogy_platform&b=Tutorials:%20https://developers.sap.

[2021-06-07 06:50] #403 closed

[2021-06-07 07:18] daniel-torok commented on #402
Hi! Yes, after executing the 'cds deploy' command these files are generated as well. Thank you for your response!

[2021-06-07 07:18] #402 closed

[2021-06-07 10:00] ag3silaus commented on #405
Hi DJ Thank you for your answer.
Tomorrow i had a different main category for example (Office Furniture and
something like that) but today I am seeing Computer Systems and totally
different categories than yesterday.
Have a nice Week Start.

DJ Adams ***@***.***>, 7 Haz 2021 Pzt, 08:49 tarihinde şunu
yazdı:

[2021-06-07 11:50] bvarwig opened #406 "Enable SAP BTP, Kyma Runtime"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-getting-started.html
--------------------------

in step  "Step 4: Open Kyma runtime console UI" the cockpit has changed and the dashbord is no longer found where tutorial expects it.
![image](https://user-images.githubusercontent.com/8438658/121011753-436ae480-c797-11eb-9577-76021b5cebc4.png)

new location for dashboard:
![image](https://use

[2021-06-07 12:25] MichaelCzcz commented on #175
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-07 12:25] #175 closed

[2021-06-07 12:54] AshithaDechamma opened #407 "SAP Fiori tools - Open guided development: oData V4"
Tutorials: https://developers.sap.com/tutorials/fiori-tools-configure-lrop.html
--------------------------

In BAS, I am trying to extend Fiori List Report application using SAP Fiori tools - Open guided development. I noticed that adding custom action to page using extensions is not available for oData V4 along with other extension options. But, all the options are available for V2. Is it yet to

[2021-06-07 16:46] cjbernal commented on #407
Hi Ashitha,

Unfortunately, an OData V4 version of the guide has not yet been released. We are actively working to create parity between our guides, prioritizing based on customer requests and needs but have not planned this one yet. As you are not the first person to have asked, we will need to investigate. At this time however, I cannot make any promises for a particular release date.

We have r

[2021-06-07 17:17] jmalla opened #408 "Create Instance of SAP Event Mesh"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html
--------------------------

I get the following error when trying to create the instance:
Service broker error: Service broker enterprise-messaging-service-broker failed with: Service broker parameters are invalid: [{"message":"Unrecognized field","propertyPath":"namespace"}]

Not sure why this is happening

[2021-06-07 17:22] jmalla commented on #408
I am using the trial account

[2021-06-07 18:01] jmalla opened #409 "Create Queues and Queue Subscriptions for SAP Event Mesh"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-queue-queuesubscription.html
--------------------------

From the Trial account, I do not see this screen. I only see the following.
![SAP Event Mesh](https://user-images.githubusercontent.com/7725180/121067270-b4060700-c77f-11eb-87f3-f18cf86837a5.jpg)

[2021-06-08 05:12] VincentNgVS opened #410 "Design and Deploy Your First Integration Flow"
Tutorials: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html
--------------------------

Hi,
I do not get any data of HT-2000 from https://refapp-espm-ui-cf.cfapps.eu10.hana.ondemand.com/espm-cloud-web/espm.svc. Is there another product or any other site I can use to test?
Thanks.

![NoProductReturned](https://user-images.githubusercontent.com/42636616/121126507-d4e

[2021-06-08 05:31] AshithaDechamma commented on #407
Hello Conrad,

Thanks for the information.

Regards,
Ashitha

[2021-06-08 05:31] #407 closed

[2021-06-08 06:26] pradeeppanda-sap commented on #408
Hi @jmalla
You are trying to create an instance of default plan in the trial environment (the descriptor which you are using is of default plan). And as we have mentioned, trial environment does not have default plan, and hence if you are trying to create an instance with default plan in trial environment, it will not work. You need to be working in productive environment, to be able to work with

[2021-06-08 06:26] #408 closed

[2021-06-08 06:36] pradeeppanda-sap commented on #409
Hi @jmalla,
  There seems to be some confusion.
  Sorry, if we have provided some information which is creating some kind of confusion in the tutorial.
  Please note that, the tutorial to work with the default plan holds good only if you are using a productive environment.
  Default version is not available in the trial environment.

 And the management screen you have provided here is for dev pla

[2021-06-08 10:42] VanitaDhanagar opened #411 "Perform Actions On Cards To Support Your Business Case"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html
--------------------------

The value for LifeCycleStatus did not change to Accepted ,It remains as NEW
The value for LifeCycleStatus did not change to Rejected: Invalid Amount, it remains as NEW

Thanks and Regards,
Vanita

[2021-06-08 12:18] gauthamkrishna-sap commented on #331
Hello,

Apologies for the inconvenience.

We are still working on updating it. In the meantime, I can offer you this session from TechEd 2020: https://github.com/SAP-samples/teched2020-DEV165

This also contains mail adapter configuration with REST API and a non-SAP system. Hope you can get some hands on experience with this while we update this series.

Thanks and Best Regards,
Gautham

[2021-06-08 12:18] gauthamkrishna-sap commented on #332
Hello,

Apologies for the inconvenience.

We are still working on updating it. In the meantime, I can offer you this session from TechEd 2020: https://github.com/SAP-samples/teched2020-DEV165

This also contains mail adapter configuration with REST API and a non-SAP system. Hope you can get some hands on experience with this while we update this series.

Thanks and Best Regards,
Gautham

[2021-06-09 10:48] VanitaDhanagar opened #412 "Create A New Welcome Card"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-cards-welcome.html
--------------------------
Hi ,

I am unable to initialize mobile card for Europe region  ,see screenshot .
<img width="927" alt="card" src="https://user-images.githubusercontent.com/80330660/121337771-81ecd480-c93a-11eb-8728-ecdba17830af.PNG">

Thanks and Regards,
Vanita

[2021-06-09 11:15] PriyankaShivakumar opened #413 "Configure Business Rules, Workflow and Process Visibility"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
**Step 6: Build and deploy workflow**
--------------------------

**Issue:**
The below screenshot and the information about the organisation-name/space-name in the bottom-blue bar can be removed as this feature is no longer available in BAS.

**Existing screenshot:**
![image](https://user-images.git

[2021-06-09 11:20] PriyankaShivakumar opened #414 "The name of the file should be changed"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-5-run.html
Step 1: Set up sample events for workflow
--------------------------
**Issue:**
The name of the file, when we download from [Link](https://github.com/SAP-samples/cloud-process-visibility/releases/download/1.0.0/Employee_OnboardingEvents.json) is **Employee_OnboardingEvents.json** but in the tutorial its g

[2021-06-09 11:20] VanitaDhanagar commented on #353
issue is still exist .

[2021-06-09 11:25] sandeep-tds commented on #411
Hi Vanita,

I am unable to reproduce the issue. Thus, I will reach out to you on MS Teams to resolve it on your landscape.

Thank you for your support.

[2021-06-09 11:47] sandeep-tds commented on #353
@PriyankaShivakumar  @VanitaDhanagar Thank you for raising the issue. I have updated the tutorial. The new version should be available in the coming week.

[2021-06-09 12:01] sandeep-tds commented on #299
@i353590  Thank you for raising the issue. I have updated the tutorial. The new version should be available in the coming week.

[2021-06-09 12:02] sandeep-tds commented on #298
Hi @i353590 since the issue has been resolved, can we close the ticket?

[2021-06-09 12:03] sandeep-tds commented on #297
Hi Team, I am closing this issue since the necessary updates were provided in the tutorial. Thank you for your support.

[2021-06-09 12:03] #297 closed

[2021-06-09 12:04] sandeep-tds commented on #213
Hi @i353590

I am unable to reproduce the issue. Thus, I will reach out to you on MS Teams to resolve it on your landscape.

[2021-06-10 05:41] vanita57 commented on #299
Hi Sandeep,

Tutorial 2: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html
Step 2.3: Boosters screen is to be updated
see
![tempsnip](https://user-images.githubusercontent.com/56148375/121470989-9a153000-c9dc-11eb-85f8-2360af221104.png)

Thanks and Regards,
Vanita

[2021-06-10 05:47] i353590 commented on #298
Hello @sandeep-tds ,

The issue seems resolved in the latest execution.
Please close the ticket.

Thanks,
Shubham

[2021-06-10 05:56] i353590 commented on #213
Hello @sandeep-tds ,

The Trial account we used doesn't have the application now.
We tried to execute the scenario again, and the issue is not reproducible.
So, we can close the ticket. Thanks for your support :)

Regrads,
Shubham

[2021-06-10 05:59] vanita57 opened #415 "Create A New Welcome Card"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-cards-welcome.html
--------------------------
Hi ,

The Welcome Card Template - Single Instance is not downloading automatically it shows downloading but never downloads.
Until we do unsubscribe and subscribe the card from application.

Kindly check on this .

Labels to be added:
prio: Medium
Sprint Label: SCPTest-2106A
Scenario Label: SCPT

[2021-06-10 06:01] #298 closed

[2021-06-10 06:02] VanitaDhanagar commented on #412
This issue is fixed ,it was a temporary issue .

[2021-06-10 06:02] #412 closed

[2021-06-10 06:02] VanitaDhanagar commented on #411
it is fixed .Thank you sandeep

[2021-06-10 06:02] #411 closed

[2021-06-10 07:45] sandeep-tds commented on #213
Thank you so much @i353590

[2021-06-10 07:45] #213 closed

[2021-06-10 07:56] sandeep-tds commented on #353
The tutorial has been updated, thus I am closing the ticket.

[2021-06-10 07:56] #353 closed

[2021-06-10 07:59] sandeep-tds commented on #299
Thank you for pointing it out @vanita57 I will make the necessary change.

[2021-06-10 09:02] #365 closed

[2021-06-10 09:03] mervey45 commented on #372
Hi @maulik-parekh ,

this has been updated. I close this ticket.

Best regards,
Merve

[2021-06-10 09:03] #372 closed

[2021-06-10 09:04] mervey45 commented on #404
Hi @MrEntwickler ,

do you mean the instruction to install Eclipse/ADT? If yes, then is is part of the second tutorial of this group: https://developers.sap.com/tutorials/abap-environment-persistence.html.

Best regards,
Merve

[2021-06-10 09:31] mounikat987 opened #416 "Create an SAP Fiori App Using SAP Business Application Studio : Update screenshots with vscode folder included"
Tutorials: https://developers.sap.com/tutorials/appstudio-fioriapps-create.html
--------------------------

**Step 1: Create new Multitarget Application project**

7.SAP Business Application Studio reloads with the FioriDemo project open in its workspace. In the Explorer view you can see the FioriDemo project, its folder structure, and files.

**Issue1 :**

The screenshot doesn't have vscode folde

[2021-06-10 11:24] sandeep-tds commented on #415
Hi Vanita,

I was not able to reproduce the issue. Thus, can we please sync internally to see what's happening on your landscape?

[2021-06-10 11:28] KevinMuessig commented on #406
Hi @bvarwig ,

thank you for your feedback. I am currently working on fixing this step in the tutorial.

Best,

KM

[2021-06-10 11:28] #406 closed

[2021-06-10 11:43] julieplummer20 commented on #385
Hi,
You need to fulfil the prerequisite: "You have a valid instance of an on-premise AS ABAP server, version 7.51 or higher "
You may not be able to do this tutorial on SAP BTP ABAP Environment.
BR Julie.

[2021-06-10 11:59] lmtisme opened #417 "Connect Using the SAP HANA Python Interface"
Tutorials: https://developers.sap.com/tutorials/hana-clients-python.html
--------------------------
This is the error when I tried to search the the hdbclil I just downloaded via pip.

C:\Apps>pip search hdbcli
ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI's XMLRPC API is currently disabled due to unmanageable load and will be deprecated in the near future. See https://status.pyth

[2021-06-10 13:14] ubabap opened #418 "Get Started with SAP Workflow Service"
Group: https://developers.sap.com/group.cp-workflow-cf.html
--------------------------

Hello together.
First: The setup process , especially wiht the booster is smooth as it should be.

But i am missing the maybe most central point in this turorial, is that it does never explain, who will see the Items  and it is created to only send to the initiator itself.  (The same for  some other beginner tu

[2021-06-10 13:24] ubabap opened #419 "Automate and Extend Employee Onboarding"
Mission: https://developers.sap.com/mission.cp-starter-ibpm-employeeonboarding.html
--------------------------

Hello together.

Hello together.

I am missing the maybe most central point in this turorial, is that it does never explain, who will see the Items

So here it is not explained, that you have to add other users to the buddies in the example to enable seeing a collaboration scenario. Also

[2021-06-10 13:26] raz-korn commented on #416
Hi @mounikat987 ,

Thanks for letting me know.
Since it's a minor issue, unless something more significant appears, it will wait for the next update.
therefore, I'm closing this issue.

Regards - Raz

[2021-06-10 13:26] #416 closed

[2021-06-10 16:36] itspocx opened #420 "Deploy Your Application with Access Control (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/es/tutorials/hana-cloud-cap-add-auth-deploy.html
--------------------------

Hi Team,
I have followed the exact procedure but I am facing the CORS issue in CF production in both places HTML5 repository and also in FLP.

![cors](https://user-images.githubusercontent.com/12825025/121563287-e5106100-ca37-11eb-97e9-1e61cf539ecf.png)

[2021-06-10 17:16] i353590 opened #421 "Req. Product details - API Management failing"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
Step 4: Provision the capabilities
------------

Issue: The provisioning of API Management is failing in US region.
![image](https://user-images.githubusercontent.com/66831161/121568152-ff990900-ca3c-11eb-9315-db8b71320328.png)
The Scenario works fine in the EU and AP region.

Labels to be added:
S

[2021-06-10 17:27] i353590 opened #422 "Req. product details Integration -- Boosters failing for assigning role collection"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
Step 5: Automatically assign roles and create service instances using Booster
-----------------

Issue: Step 5.6: In the Review tab, check your selections and choose Finish. You can see that the booster is being processed
The boosters are failing in EU & AP region for Assigning role collection.

Er

[2021-06-10 17:31] i353590 opened #423 "Req. product details Integration -- Screenshot Update || Add Integration Flow"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html#a83503f8-f95b-4e97-b3bc-254ad2e537a7
Step 2: Create an integration package and integration flow
--------------------------

Issue: Step 2.2: Choose Add > Integration Flow.
On Clicking "add", now we get additional option Script Collection, so latest screenshot needs to be attached.
Please update

[2021-06-10 18:53] danielva commented on #417
It looks like pip search has been deprecated.  It will be removed from the tutorial shortly.

Thank you for the feedback,
Dan

[2021-06-10 18:53] #417 closed

[2021-06-11 02:49] itspocx commented on #420
Issue is solved by changing the HTTP to HTTPS in the destination url

[2021-06-11 02:49] #420 closed

[2021-06-11 07:58] i353590 opened #424 "Fiori App Using launchpad -- Need to refresh browser to click on "Go to Site""
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-new-sapui5.html#4278ff9d-57b8-4e33-a2c8-1a5a5030076b
Step 6: Review the site
-----------------------
Issue:
After creating the app, group and assigning the app to the group, on navigating back to the "Site Directory", We are unable to click on "Go to Site", without refreshing the browser.
Please refer the image:

!

[2021-06-11 10:04] Askullu opened #425 "Deploy a CAP Business Application to SAP Business Technology Platform"
Tutorials: https://developers.sap.com/tutorials/cap-service-deploy.html
--------------------------
**Issue**: The deployed application my-bookshop-srv is not able to load the data

**Description**: In step 3.3 After we deploy the application, it is able to launch the application but not able to find the table i.e if we click on Authors getting the "Internal server error"
![image](https://user-imag

[2021-06-11 15:17] frankmeertens commented on #364
@iwonahahn The workaround with the `hanatrial` and plan `securestore` doesn't seem to work anymore. The deployment fails with issues. The same deployment to a `hanatrial` and plan `hdi-shared` still works if you have it part of your trial.
For those that nom longer have this provisioned in their trial environment, the `hana` service with plan `hdi-shared` is working in combination with the SAP HAN

[2021-06-14 03:20] IObert commented on #392
I'll close this issue now but feel free to reopen if needed.

[2021-06-14 03:20] #392 closed

[2021-06-14 04:21] FarozanFarman opened #426 "Create an SAP BTP ABAP Environment Trial User"
**Tutorials:** https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html
--------------------------
**Issue:** We can provide both the options to connect to system to SAP BTP ABAP Environment.

**Steps to reproduce:**
At Step 1: Start boosters:
6. The booster is now executed successfully. Download the service key for later use. The service key is needed to setup the connection in

[2021-06-14 15:24] phil9909 opened #427 "Install the Kubernetes Command Line Tool"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-download-cli.html
--------------------------

On Step 2:

If I run `kubectl version --client` I get the following output:

[code]

If I click on "Submit Answer" this is rejected.

[2021-06-15 08:01] MichaelCzcz commented on #379
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-15 08:01] #379 closed

[2021-06-15 08:03] MichaelCzcz commented on #398
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-15 08:03] #398 closed

[2021-06-15 08:03] MichaelCzcz commented on #393
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-15 08:03] #393 closed

[2021-06-15 08:04] MichaelCzcz commented on #384
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-15 08:04] #384 closed

[2021-06-15 08:04] MichaelCzcz commented on #381
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-15 08:04] #381 closed

[2021-06-15 08:55] LarsVlyminckx opened #428 "Unable to import/select Equipment Determination Rules"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
--------------------------

I'm currently following this tutorial but I'm stuck at **"Step 3: Import business rules from API Business Hub"** .
I get the error **"Bad Gateway Error"** :
![image](https://user-images.githubusercontent.com/33087668/122023591-fe166a80-cdc7-11eb-989a-3e53b8901b0b.png)

Bu

[2021-06-15 10:44] venkytc opened #429 "Add a List Report Interface to the CAP App (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-add-list-report.html
--------------------------

when I try to create run configuration, it says "there are no runnable resources".
how to fix this?

[2021-06-15 11:05] IObert commented on #429
Did you open your CAP project in the current workspace?

And can you please add a screenshot of the error message?

[2021-06-15 11:05] venkytc opened #430 "Add a List Report Interface to the CAP App (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-add-list-report.html
--------------------------

at step 3, in MTA Module from Template wizard, when I select application folder as /home/user/projects/MyCloudApp, it says 'The folder you have selected does not seem to contain a valid CAP project.  Please check and try again.'

[2021-06-15 11:14] venkytc commented on #429
Thanks for your response. I have this target
![image](https://user-images.githubusercontent.com/68116682/122043193-b22fe980-cdf8-11eb-89f1-83efa4960746.png)

and I this is the error I get

![image](https://user-images.githubusercontent.com/68116682/122043360-e3a8b500-cdf8-11eb-9b94-bc74d20e4020.png)

[2021-06-15 11:17] venkytc commented on #430
Please see the error screen:
![image](https://user-images.githubusercontent.com/68116682/122043767-59148580-cdf9-11eb-955a-4f052a804c6e.png)

[2021-06-15 11:34] IObert commented on #429
I wasn't referring to the target. I meant which workspace you use in the SAP Business Application Studio. You can navigate there when you click on the "files" icon on the top-left corner.

[2021-06-15 12:14] ArchanaShukla commented on #428
Do you have user in API Business Hub? If not then login to api.sap.com and then wait for couple of hours 1-2 hours and try again - it should work.

[2021-06-15 12:24] ArchanaShukla commented on #419
Thanks for you feedback, we will try to improve. The tutorial is not explaining how to create workflow, business rules and therefore it explains on a high level what this scenarios is all about and how to set it up and run it in quick time. If you want to learn the details on these services then you can try out Getting Started tutorials.

"add other users to the buddies in the example" - this scen

[2021-06-15 12:24] #419 closed

[2021-06-15 12:49] ubabap commented on #419
Hello Archana,

you might misunderstood , what I was writing.

You do not need to add users and prepare the scenarios but  someone that has his trial account can add another person as a user to his trial account and add the connected email-address to the empData.buddies in the prepared test -json.

I think, it would be worth to explain that as a later or an optional step in the tutorial.
Only then

[2021-06-15 12:50] LarsVlyminckx commented on #428
As you can see on the last picture (top right) I was already logged in. I also imported the rule form Business Rules service as you can see on the first picture.

[2021-06-15 12:51] jcawley5 commented on #427
Hello,

The question is asking for the code or command that will provide the version information, not the result.

Regards,
Jamie

[2021-06-15 12:51] #427 closed

[2021-06-15 13:31] ArchanaShukla commented on #428
Yes you are logged in, but was this the first time that you logged in? If yes then it takes some time to reflect. If you have logged in couple of hours before and still it is failing, then is your user two-factor authentication enabled? If yes, then you have to use password as password+passcode.

[2021-06-15 13:48] wjklos opened #431 "Configure Business Rules, Workflow and Process Visibility"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
--------------------------

After running the Workflow Management Booster successfully, I cannot get into "Manage Rule Projects".  I get a blank page entitled "Authorization Issue".

291491cftrial

[2021-06-15 13:51] venkytc commented on #429
pls see the workspace image
![image](https://user-images.githubusercontent.com/68116682/122064603-e6160980-ce0e-11eb-8ee2-2e1e28c91b69.png)

[2021-06-15 13:53] LarsVlyminckx commented on #428
No it wasn't the first time that I was logged in. I already used this for Cloud Platform Integration and IoT API. I don't have two-factor authentication enabled.
When I go to api.sap.com and select the business rule. I see in the console that I also have an error:
![image](https://user-images.githubusercontent.com/33087668/122063881-f0290f80-cdf0-11eb-8d15-a4f6be7ecf4a.png)
I don't know that this

[2021-06-15 14:22] LarsVlyminckx commented on #428
I checked the API calls in incognito and there it was working after I logged in. So I updated the destinations and now it's working. So it was probably a password/login issue.

Thanks for the help

[2021-06-15 14:22] #428 closed

[2021-06-15 14:48] wjklos commented on #431
Seems to work now!

[2021-06-15 16:19] IObert commented on #429
It is strange. I noticed that you used a different name for your project (this shouldn't cause the problem) but maybe you also diverged somewhere else from that path that has been described in [the tutorial](https://developers.sap.com/group.dsag-cloud-dev-day-cf.html).

Can you confirm that you used the Dev Space kind "Full Stack Cloud Application" and also followed all other steps exactly as desc

[2021-06-15 16:20] IObert commented on #430
Similar to the question from the other issue: How did you create the CAP project? Did you follow this tutorial?
<https://developers.sap.com/group.dsag-cloud-dev-day-cf.html>

[2021-06-15 16:55] iwonahahn commented on #364
Hi @frankmeertens, thank you for testing and the comment. We will test it and update the tutorial.

[2021-06-16 04:39] venkytc commented on #429
I am able to fix this. as you mentioned, I had workspace at 'Projects'. when I opened 'MYCLOUDAPP', it started working. Thanks for pointing out.

[2021-06-16 06:28] IObert commented on #429
Awesome!

[2021-06-16 06:28] #429 closed

[2021-06-16 08:22] mendesthi commented on #393
Hi Michael, good morning.

I have just browsed for the outdated tutorial and it is still available, leading many customer and partners to wrong instructions, loosing expensive consulting time.

So issue is not closed.

Thanks,
Thiago.

[2021-06-16 12:49] PierreFritsch opened #432 "Refine the List Report with Additional Annotations, Step 2: Implement a value help: Lines 11-26 => Lines 11-29"
Tutorials: https://developers.sap.com/tutorials/fiori-tools-cap-modify-list-report.html
--------------------------

In Step 2: Implement a value help

I assume that the sentence:

should read:

[2021-06-16 12:50] PierreFritsch commented on #432
... forget it, 11-26 is correct...

[2021-06-16 12:50] #432 closed

[2021-06-16 13:11] PierreFritsch commented on #432
I just understood the root cause of my confusion:
The code samples display the number of lines differently based on the browser viewport width...

So when you reduce the width, lines 11-26
<img width="790" alt="Screen Shot 2021-06-16 at 15 07 32" src="https://user-images.githubusercontent.com/10234267/122224842-cb966b80-ceb4-11eb-941e-0f3b487c5545.png">

... become lines 11-29:

<img width="575" a

[2021-06-16 13:34] #431 closed

[2021-06-16 14:58] vvnsmc opened #433 "Call an External Endpoint to Retrieve Additional Information"
Tutorials: https://developers.sap.com/tutorials/cp-integration-consume-external-api.html
--------------------------

The tutorial says to try HTTP Adapter for a Content Enricher which is not supported.

When i tried SOAP adapter with same parameter the output is different from what mentioned in the Tutorial, this output failing in Routes. Please check and suggest changes

[2021-06-17 01:07] cosmo83 opened #434 "Create Instance of SAP Event Mesh"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html
--------------------------
Can someone help me with what iam missing. I have created the event-mesh instance with the default plan. There is no application link that is visible to me. I have no way to go to the event dashboard as described in the tutorials.

![image](https://user-images.githubusercontent.co

[2021-06-17 06:30] pradeeppanda-sap commented on #434
Hi...
 Sorry for the issue you are getting.
 While description has been provided in the [in this tutorial](https://developers.sap.com/tutorials/cp-enterprisemessaging-queue-queuesubscription.html), but let me admit that,  it does not have the recent changes.
While we are in the process of updating the content (will take a day or two), you can go ahead and create a management dashboard screen, by c

[2021-06-17 06:30] #434 closed

[2021-06-17 06:56] krisho007 opened #435 "Call SAP API Business Hub API from a SAPUI5 Application"
Tutorials: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html
--------------------------

In Step 1 of the tutorial, it is not clear why we need to create two destinations and when are we using each destination.
One of the destination connects to sandbox.api.sap.com. Not sure what is the role of sandbox here.

[2021-06-17 12:51] sandeep-tds commented on #299
Hi @vanita57,

The issue has been fixed. Thus, I am closing the ticket.

Thank you so much for your support.

[2021-06-17 12:51] #299 closed

[2021-06-17 16:51] krisho007 opened #436 "Call SAP API Business Hub API from a SAPUI5 Application"
Tutorials: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html
--------------------------

The UI for BAS seems to have changed drastically for this scenario. The tutorial seems to need a rebuid.

[2021-06-17 21:13] ncastagno-tgv opened #437 "Add Automated System Tests with the SAPUI5 Test Recorder to Your CI/CD Pipeline"
Tutorials: https://developers.sap.com/de/tutorials/cp-cicd-systemtest-recorder.html
--------------------------

I was running the tutorial step by step, and it works perfect
When I get to step 5, begins to fail the previous step with this error:

INFO: Spec started: Should navigate to the product
INFO: No elements found using by.control locator. This is what control locator last logged: Found no v

[2021-06-18 08:15] klickerlebnis opened #438 "Define and Expose a CDS-Based Travel Data Model"
Tutorials: https://developers.sap.com/tutorials/abap-environment-data-model.html
--------------------------

In Step 5 the answers should accept both values: Service Binding OR Service binding (OR service binding).

Many thanks! Great tutorial!

[2021-06-18 14:19] gauthamkrishna-sap commented on #249
We are still working on it. In the meantime, I can offer you this session from TechEd 2020: https://github.com/SAP-samples/teched2020-DEV165

This also contains mail adapter configuration with REST API and a non-SAP system. Hope you can get some hands on experience with this while we update this series.

Thanks and Best Regards,
Gautham

[2021-06-18 14:20] gauthamkrishna-sap commented on #433
We are working on updating the tutorial series. In the meantime, I can offer you this session from TechEd 2020: https://github.com/SAP-samples/teched2020-DEV165

This also contains mail adapter configuration with REST API and a non-SAP system. Hope you can get some hands on experience with this while we update this series.

Thanks and Best Regards,
Gautham

[2021-06-18 18:03] vvnsmc commented on #433
Thanks Gautam, i will go through the link.
Was able to figure out an alternative with additional components(Groovy + message mapping) & completed tutorial.
so closing this issue.

[2021-06-18 18:03] #433 closed

[2021-06-21 05:22] AstridHerbst commented on #243
Hi,
Thank you very much for your input. The tutorials have been updated.
Best regards, Astrid

[2021-06-21 05:23] AstridHerbst commented on #243
Sorry, wrong entry

[2021-06-21 05:24] #243 closed

[2021-06-21 08:48] frahoffm opened #439 "Set Up Integration Suite Trial"
Tutorials: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
--------------------------

Step Boosters do not work correctly

[2021-06-21 09:52] Karunaharan commented on #439
@frahoffm - could you please provide more information or any screenshots that might help me resolve the issue?

[2021-06-21 09:52] #439 closed

[2021-06-21 10:15] Kaderde opened #440 "Set Up Local Development Using VS Code"
Tutorials: https://developers.sap.com/tutorials/btp-app-set-up-local-development.html
--------------------------
In Step 9: Install VS Code Extensions
Later, you can open the page through the **_command_** CDS: Show CAP Release Notes.
we would like to be more specific about the command to use :
Later, you can open the page through the **_Command palette in VS Code_** : CDS: Show CAP Release Notes.

[2021-06-21 11:09] IObert commented on #430
I'll close this now. Feel free to reopen if needed.

[2021-06-21 11:09] #430 closed

[2021-06-21 11:49] klickerlebnis opened #441 "Develop and Run SAP Fiori Application With SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
--------------------------

In step 8 there is no
Service Type: OData IWSG
available.

What can I choose instead?

It seems to be the **OData V2 (deprecated)** service.

Many thanks

[2021-06-21 14:26] Karunaharan commented on #410
Hi @VincentNgVS - other product IDs like HT-2001, HT-6120, HT-6121 also works. I checked this morning, and HT-2000 worked for me. Could you please check again?

[2021-06-21 14:26] #410 closed

[2021-06-21 14:28] Mbouarour opened #442 "Create an SAP Fiori App Using SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/appstudio-fioriapps-create.html
--------------------------

Hello,
The List of the suppliers is not displayed at the end of the step 6 even if the page is automatically reloaded.

Thanks in advance
Mohamed BOUAROUR

[Create an SAP Fiori App Using SAP Business Application Studio ISSUE.pdf](https://github.com/SAPDocuments/Issues/files/6687318/Create.an

[2021-06-21 14:54] Karunaharan commented on #423
Hi @i353590 - the issue is fixed. will publish asap.

[2021-06-21 14:54] #423 closed

[2021-06-21 15:32] iwonahahn commented on #440
This will be fixed with https://github.com/SAPDocuments/Tutorials/pull/6780

[2021-06-21 15:32] #440 closed

[2021-06-22 08:07] yyaqqann opened #443 "Deploy an App to SAP BTP, Cloud Foundry runtime"
Tutorials: https://developers.sap.com/tutorials/cp-cf-dev-02-deploy-app.html
--------------------------

when i am clicking Deploy Application and check the file's location all right.then I clikc Deploy,an error occurs like :
'Unable to create route. We are sorry, but we have encountered an internal error. If the problem persists, please create a support ticket. Please specify a different route.'

[2021-06-22 08:12] AbeDong opened #444 "Create Decision Table and Text Rules"
Tutorials: https://developers.sap.com/tutorials/cp-cf-businessrules06-dt-textrule.html
--------------------------

When I created the decision table, and test the service in the API HUB, something wired from what I can see.
1. Here is the decision table.
![image](https://user-images.githubusercontent.com/34675321/122886330-72c24980-d372-11eb-9ef0-bd6332728009.png)
2. When I try with below payload

[2021-06-22 08:46] raz-korn commented on #442
Hi @Mbouarour ,

The primary suspect is the connectivity to ES5.
I suggest the following steps (as appear in [issue 36](https://github.com/SAPDocuments/Issues/issues/36)):

- Can you share a screenshot of the ES5 destination configuration in SAP BTP Cockpit?
- can you share the output of running the following command in the BAS terminal:
curl -v -i "ES5.dest/sap/opu/odata/iwbep/GWSAMPLE_BASIC/Busi

[2021-06-22 09:17] dungvti opened #445 "Create an SAP Cloud Application Programming Model Project for SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-project.html
--------------------------

Issue - Create a new service instance

In step 3.3 not able to create hana instance because plan **hdi-shared** has been deleted in BTP trial account so this creation is not possible.

Error when binding:
![1](https://user-images.githubusercontent.com/78527812/122898007-bd44c580-d374-11eb

[2021-06-22 09:40] Mbouarour commented on #442
Hi  @raz-korn <https://github.com/raz-korn>

Thanks for you answer.

Here they are.
But before that, I would like to inform you that I have run the last
tutorial "Build and Deploy Your SAP Fiori App to SAP Business Technology
Platform" where I changed "cpp" by "Launchpad" in the url :

"
https://77441ec4trial.cpp.cfapps.eu10.hana.ondemand.com/b4e4b708-138f-4eb4-9947-07b79f9b18f4.BP.nsbusinesspartn

[2021-06-22 10:33] VanitaDhanagar opened #446 "Develop a Business App Using SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/appstudio-cap-app.html
--------------------------
Step 3 : in cat-service.cds file

action submitOrder (book : **Books.ID,** amount: Integer);

A line of code need to updated (comma to colon)

action submitOrder (book : **Books:ID**, amount: Integer);

Thanks and Regards,
Vanita

[2021-06-22 10:44] raz-korn commented on #442
Hi @Mbouarour ,

I cannot see the destination configuration, but since the curl command looks OK, it seems that everything is configured correctly.
Do you still experience the empty list of suppliers?
If so - For the tab where the application (not BAS) is running: Can you open the network tab and refresh the app?

Regards - Raz

[2021-06-22 11:05] Mbouarour commented on #442
Hi  @raz-korn <https://github.com/raz-korn>

Yes I still have the empty list of suppliers.

I think there's something wrong in my tasks :

I just run the application preview on Webapp directory and i got this url :
https://workspaces-ws-pnssn-app1.eu10.trial.applicationstudio.cloud.sap/index.html?sap-client=002
Is this right ?

What do you mean by *"Can you open the network tab and refresh the app

[2021-06-22 12:19] jung-thomas commented on #445
I don't believe this is anything specific with this tutorial but a general issue with the entitlement setup in BTP trial.  Did you just recently create your trial account?  I've seen a few similar reports from people newly created that their entitlements aren't correct.   But you are looking at the wrong entitlement in the above screenshot.  It's not the HDI containers trial.  That's for the older

[2021-06-22 12:19] #445 closed

[2021-06-22 12:39] raz-korn commented on #442
Hi @Mbouarour ,

Every modern browser has some kind of integrated "Developer tools". Usually launched by pressing F12.
When it opens it has multiple tabs. One of them is the Network tab.
If you can share the output of the network tab after the app is refreshed.
My assumption is that something's wrong with the access to ES5.
BTW - You can filter the network tab for sap-client, which will list only

[2021-06-22 13:25] Mbouarour commented on #442
Hi @

I thought the network tabl shoul show on the executed page.
Here is the screenshot of the Network filtred on sap-client.

[image: image.png]

Thanks

Le mar. 22 juin 2021 à 14:39, Raz Korn ***@***.***> a écrit :

[2021-06-22 14:34] raz-korn commented on #442
Hi @Mbouarour ,
Can't see the pdf either.
It looks like none of the attachments get through.
Regards - Raz

[2021-06-22 14:58] raz-korn commented on #442
Hi @Mbouarour ,
This explains why the list is not populated.
Can you try the same but use the incognito mode of the browser?
Regards - Raz

[2021-06-22 15:08] Mbouarour commented on #442
Hi  @raz-korn <https://github.com/raz-korn>

HTTP ERROR 401

Best regards

Le mar. 22 juin 2021 à 16:58, Raz Korn ***@***.***> a écrit :

[2021-06-23 06:20] julieplummer20 commented on #385
Hi Maulik, Try a different table: Search for /DMO/*CUSTOMER*.
BR Julie.

[2021-06-23 06:21] #385 closed

[2021-06-23 13:12] raz-korn commented on #442
Hi @Mbouarour ,
I apologize for the late response. Other issues I had to take care of...
Does it persist - When you run the app, no data is loaded?
If it persists, it's important that you can share with me the mentioned screenshot of the network tab.
Regards - Raz

[2021-06-23 13:50] Mbouarour commented on #442
Hi  @raz-korn <https://github.com/raz-korn>

Thank you so match.

Unfortunately, I still have the same issue of missing data.

[image: image.png]

The screenshot is attached to this Email. If not, please give me un Email i
can use for sharing doc in google drive.

Best regards

Le mer. 23 juin 2021 à 15:13, Raz Korn ***@***.***> a écrit :

[2021-06-23 14:21] raz-korn commented on #442
Hi @Mbouarour ,
I cannot see the attachment, but I recalled the following:
Since you mentioned that the only red message you see related to the $batch call, there's the following option to disable OData batch calls:
In the manifest json make the following changes:
![image](https://user-images.githubusercontent.com/6040433/123113471-42001400-d447-11eb-89ea-f1db791b8327.png)
It does not explain why

[2021-06-23 14:33] Mbouarour commented on #442
Hi  @raz-korn <https://github.com/raz-korn>
Yes it works :-)
Thanks.
As you said, it does not explain why and how.
Does this mean that every time I have to create a new app, I have to make
this correction manually ?

Thank you so match  for your dedication.

Best regards
Mohamed

Le mer. 23 juin 2021 à 16:21, Raz Korn ***@***.***> a écrit :

[2021-06-23 16:23] raz-korn commented on #442
Hi @Mbouarour ,

Ability to support $batch call or not is dependent on the backend.
therefore, if it works for one person it should work for all.
that's why it's not clear to me, an I'll need to take it internally.

I do not think that it should happen to a new app (depending on the backend that is used as explained above).

Regards - Raz

[2021-06-23 16:24] raz-korn commented on #442
Since the issue is solved, I'm closing it.
If you still have questions, feel free to reopen the issue.

[2021-06-23 16:39] Mbouarour commented on #442
Perfect.

Best regards
Mohamed

Le mer. 23 juin 2021 à 18:24, Raz Korn ***@***.***> a écrit :

[2021-06-23 17:13] Mbouarour commented on #442
Hi @raz-korn

I have a good news.

The issue occurs in Google Chrome *Version 91.0.4472.77 (Build officiel)
(64 bi*ts) but the application works right in Microsoft Edge *Version
86.0.622.51 (Version officielle) (64 bits) without the correction you gave
me.*

Best regards.
Mohamed

Le mer. 23 juin 2021 à 18:24, Raz Korn ***@***.***> a écrit :

[2021-06-24 03:12] ivanmir opened #447 "Create a UI Using Freestyle SAPUI5"
Tutorials: https://developers.sap.com/tutorials/btp-app-create-ui-freestyle-sapui5.html
--------------------------

The text refers to changes in the manifest.yaml whereas it is in fact related to manifest.json

[2021-06-24 03:43] ivanmir opened #448 "Implement Roles and Authorization Checks In CAP"
Tutorials: https://developers.sap.com/tutorials/btp-app-cap-roles.html
--------------------------

On Step 3: the first thing to do is to copy file .cdsrc.json from the template directory. But this file is not part of the cloned repository. On the other hand, there is a file with the same name already on the root project folder with an empty content.

[2021-06-24 03:50] ivanmir opened #449 "Prepare for SAP BTP Development"
Tutorials: https://developers.sap.com/tutorials/btp-app-prepare-btp.html
--------------------------

From Step 4 onwards it gets confusing - the tutorial should clearly state that either you create a trial account or use an existing global account. Usually developers will already have their own global account created and ready to use - BTP Control Center is for administrator, not developers - isn'

[2021-06-24 04:02] ivanmir opened #450 "Deploy Your Multi-Target Application (MTA)"
Tutorials: https://developers.sap.com/tutorials/btp-app-cap-mta-deployment.html
--------------------------

Step 1: correct answer is mbt whereas the text says mtb. Other answers are correct (mta is the old tool name, mta-build doesn't exist - but mta build is the command that builds the mtar archive.

[2021-06-24 08:07] iwonahahn commented on #448
Hi @ivanmir,

Thank you for reporting this. We have fixed this and you find now the file [here](https://github.com/SAP-samples/cloud-cap-risk-management/tree/master/templates/cap).

Best regards,
Iwona

[2021-06-24 08:07] #448 closed

[2021-06-24 10:08] digiaplo opened #451 "Create an ABAP Package"
Tutorials: https://developers.sap.com/tutorials/abap-dev-create-package.html
--------------------------
After filling in the package name, the next screen requires an Access Key, but when I go to SCCR, there is no option to request a key.
My user ID is P2004064380, please help.

Thanks!

[2021-06-24 10:34] maximnaidenov commented on #437
Can you please check the screenshot report - what do you see at the moment of the error ?

[2021-06-24 12:52] ncastagno-tgv commented on #437
PS C:\BACKUP\cNestor\_All Techs\Mobile\GitLAB projects\UIVeri5\teched-uiveri5\uiveri5> uiveri5
INFO: @ui5/uiveri5 v1.46.3
INFO: Resolving specs
INFO: Check for latest version of: chromedriver.exe from: https://chromedriver.storage.googleapis.com/LATEST_RELEASE
INFO: Found latest version of chromedriver.exe: 91.0.4472.101
INFO: Found correct binary locally: C:\Users\ncastagno\AppData\Roaming\npm\no

[2021-06-24 13:06] VandanaVasudevan commented on #444
Hi @AbeDong,

The logic should ideally work even when the value of JobTitle is MATCHES '.*'. Is this issue repeating?
If yes, can you share the zip file of your project with me? (From the Manage Projects screen, choose the export icon and save the project to your workspace.)

Best Regards,
Vandana

[2021-06-24 13:23] maximnaidenov commented on #437
This is the log, please check the screenshot report - target\report\screenshots\report.html

[2021-06-24 13:44] ncastagno-tgv commented on #437
![report](https://user-images.githubusercontent.com/62354561/123273531-1af22280-d4d9-11eb-823a-6b58661ca815.png)

[2021-06-24 13:57] imran-asif-sse opened #452 "Deploy a Go MSSQL API Endpoint in the Kyma Runtime"
Tutorials: https://developers.sap.com/tutorials/cp-kyma-api-mssql-golang.html
--------------------------

On Step the Env varaible should be enclosed in '' for Windows Powershel to work.
It should be as below:

$ENV:MYAPP_username='sa'
$ENV:MYAPP_password='Yukon900'
$ENV:MYAPP_database='DemoDB'
$ENV:MYAPP_host='localhost'
$ENV:MYAPP_port=1433

[2021-06-24 14:02] iwonahahn commented on #447
Hi @ivanmir,

Thank you for reporting it. We have updated the tutorial, see [here](https://github.com/SAPDocuments/Tutorials/pull/6790).

Best regards,
Iwona

[2021-06-24 14:02] #447 closed

[2021-06-24 14:02] iwonahahn commented on #450
Hi @ivanmir,

Thank you for reporting it. We have updated the tutorial, see [here](https://github.com/SAPDocuments/Tutorials/pull/6790).

Best regards,
Iwona

[2021-06-24 14:02] #450 closed

[2021-06-24 14:06] maximnaidenov commented on #437
Can you please copy the content of "Should navigate to the product" and also the PO methods that it uses ?

[2021-06-24 14:40] ncastagno-tgv commented on #437
<div class="spec failed 2 hidden">
      <div class="summary">
        <div class="strong">Should navigate to the product</div>

        <span class="strong">Expectations</span>
        <span>Total: 1</span>
        <span>Passed: 0</span>
        <span>Failed: 1</span>
        <span>Duration: 1.3 sec</span>

      </div>

      <div class="step failed">
        <p class="strong">1.</p>
        <di

[2021-06-24 14:45] ncastagno-tgv commented on #437
it("Should navigate to the product", function () {
    When.onTheHomePage.iSelectTheFirstProduct();
    Then.onTheProductPage.theProductTitleIsShown();
    Then.onTheProductPage.theProductCouldBeOrdered();
  });

    iSelectTheFirstProduct: function () {
      element(by.control({
          controlType: "sap.m.Text",
          viewId: "container-cart---category",
          properties: {

[2021-06-24 14:49] ncastagno-tgv commented on #437
Saludos

Mgr. Néstor Castagno
I+D Manager
TGV - Excelencia en Soluciones Informáticas
• +54 11 4341-7800 (6041)
6 +54 11 3422-3487
• www.tgv.com.ar<http://www.tgv.com.ar/>

De: maximnaidenov ***@***.***>
Enviado el: jueves, 24 de junio de 2021 11:06
Para: SAPDocuments/Issues ***@***.***>
CC: Castagno, Nestor Oclides - tgv.com.ar ***@***.***>; Author ***@***.***>
Asunto: Re: [SAPDocuments/Issues] A

[2021-06-24 15:42] I321500 opened #453 "Tutorial : Integrate a Custom-Developed SAPUI5 App Into Your Launchpad Site"
I followed the tutorial and completed the following chapters successfully.
 - Set Up SAP Business Application Studio for Development
 - Create a Dev Space for SAP Fiori Apps
 - Create an SAP Fiori App Using SAP Business Application Studio

In "Build and Deploy Your SAP Fiori App to SAP Business Technology Platform", I followed all the steps.
In step 4, sub-step 5 it says we will be able to see the

[2021-06-24 19:21] ibibhu opened #454 "Set Up the SAP HANA Cloud Service : cpapp-db-deployer failing"
Tutorials: https://developers.sap.com/tutorials/btp-app-hana-cloud-setup.html
--------------------------

Write here how you think we can improve the tutorial ...

While doing cf deploy cpapp_1.0.0.mtar in the later part it's failing

because of "cpapp-db-deployer "

when I did cds add hana  , then finally the deployment worked.

[2021-06-24 23:10] matton2 opened #455 "Consume a Basic OData Service"
Tutorials: https://developers.sap.com/tutorials/xsa-sapui5-odata.html
--------------------------

Hello.  Since sap.iu.unified.Shell has been depreciated, would it be possible to share an example using sap.f.ShellBar in the setup.js file?

[2021-06-25 05:45] Karunaharan commented on #421
Hi @i353590
Thanks for the feedback.

Checked a couple of times with different users. The issue is resolved now.

![image](https://user-images.githubusercontent.com/29120597/123375553-8f46c780-d5a6-11eb-8ef9-72c87c7fe61c.png)

[2021-06-25 05:45] #421 closed

[2021-06-25 06:11] MichaelCzcz commented on #409
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-06-25 06:11] #409 closed

[2021-06-25 06:22] Karunaharan commented on #422
Hi @i353590
Booster is getting successfully executed in EU & AP regions.

[2021-06-25 06:22] #422 closed

[2021-06-25 06:38] uwe-klinger commented on #454
Hi @ibibhu ,

Thanks for providing this feedback. We will look into the possible use of `cds add hana` to simplify the tutorial.

Since the tutorial worked for our last test, I wonder what error you faced. Did you add the `deploy-format` section in your `package.json` file?

https://developers.sap.com/tutorials/btp-app-hana-cloud-setup.html#c6f9d27b-d8d0-4e7b-8a8a-e18eaa690094

[2021-06-25 06:39] julieplummer20 commented on #451
Hi,
Are you using a developer edition. Then usually the issue is that the user did not delete ALL the existing licenses before importing the new one. Please follow the guidelines in:
[Newbies’ Guide: 752 Virtual Box](https://www.sap.com/documents/2018/09/92ffae89-1c7d-0010-87a3-c30de2ffd8ff.html)
or
[Newbies’ Guide: 752 VMWare](https://www.sap.com/documents/2018/09/1cefb289-1c7d-0010-87a3-c30de2ff

[2021-06-25 07:40] jung-thomas commented on #455
The newer version of this sample for SAP HANA Cloud does use sap.f.ShellBar: https://github.com/SAP-samples/hana-opensap-cloud-2020/tree/main/app/resources/odataBasic

But there are no plans to update the older XSA/HANA Express tutorials at this time.

[2021-06-25 07:40] #455 closed

[2021-06-25 10:11] christinehall618 opened #456 "Set Up the SAP Launchpad Service - Cannot subscribe"
Tutorial: [https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html](https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html)

I am trying to subscribe to the launchpad service with a production environment. I added the entitlement for the launchpad service but when I try to subscribe, instead I am only given the option to create an instance of th

[2021-06-25 10:59] matton2 commented on #455
Thanks for the example @jung-thomas !

[2021-06-25 13:29] ncastagno-tgv commented on #437
I already found the problem: when doing "Press" on the text field, the Test Recorder generates "viewId: "container-cart---category"" instead of "viewName: "sap.ui.demo.cart.view.Home""

[2021-06-25 13:29] #437 closed

[2021-06-25 17:31] jcawley5 commented on #452
Thank you for the comment - fixed in

https://github.com/SAPDocuments/Tutorials/pull/6795

[2021-06-25 17:31] #452 closed

[2021-06-26 04:56] digiaplo commented on #451
Hi Julie,
Thank you for your support, I am using SAP NetWeaver AS ABAP 7.52 SP04 on VMWare.
In the past, It has 2 default licenses, I deleted one and install a new one (it is issued by https://go.support.sap.com/minisap/#/minisap).
After reading your guide, I deleted all 2 licenses and install the one that I requested, restart the system, the problem is still there.
Do I need to reinstall the SAP

[2021-06-26 23:32] yker14 opened #457 "Deploy Your Multi-Target Application (MTA)"
Tutorials: https://developers.sap.com/tutorials/btp-app-cap-mta-deployment.html
--------------------------

Hello.

I'm getting an error at the end of the tutorial Deploy Your Multi-Target Application (MTA) when executing the command:
cf deploy cpapp_1.0.0.mtar

The error shown is:
Could not get access token: not a compact JWS

I am a little clueless about how package-lock.json creates this JWS an

[2021-06-27 01:48] digiaplo commented on #451
Hi Julie,
I reinstalled SAP NetWeaver AS ABAP 7.52 SP04 on VMWare, delete all existing licenses then import the new one. But I meet the issue again.

This is SLICENSE screen.
![image](https://user-images.githubusercontent.com/82439395/123530386-d60dfc00-d723-11eb-9a28-2a52daa38694.png)

This is "Add new package" screen on Eclipse
![image](https://user-images.githubusercontent.com/82439395/12353042

[2021-06-27 05:19] digiaplo commented on #451
Hi Julie,
I reconnect with user "DEVELOPER" and created the package successfully.

Thanks for your support.
Khoa.

[2021-06-27 05:19] #451 closed

[2021-06-27 06:19] LindsayBert commented on #453
Hi

If you did all the tutorials then it can only be one of the following reasons:

You used a standalone app router when you created the MTA
You didn't add an intent to the app

If it's the first problem, you should delete the app from the space on in your subaccount and develop it again using this tutorial https://developers.sap.com/tutorials/appstudio-fioriapps-create.html.
Make sure you select

[2021-06-28 05:17] I321500 commented on #453
Hi Lindsay,

We have used the Managed App router option as mentioned in the tutorial.
The one major difference is, we have CAP service which has UI annotations as well. So, instead of SAP Freestyle application, we chose 'List Object Page'.
While loading the app, there are issues with metadata.
Could you please help here?

Thanks,
Viji

[2021-06-28 05:32] AstridHerbst commented on #418
Thank you for your feedback. I will align with my colleagues on this.

[2021-06-28 06:23] LindsayBert commented on #453
Hi

Thank you for your reply. It seems that your issues require investigating your code which is beyond the scope of supporting the tutorials. To have your issue inspected, please open a BCP for the EP-CPP-CF-DEV component.

Thanks
Lindsay

[2021-06-28 08:05] Karunaharan commented on #422
I tested in EU and AP regions again this morning. Booster is working fine.

[2021-06-28 08:07] AbeDong commented on #444
Hi Vandana,
Please find the project which has issue.
Thank you very much.

Vandana Vasudevan ***@***.***> 于2021年6月24日周四 下午9:06写道：

[2021-06-28 10:47] I321500 commented on #453
Thanks Lindsay, I will do it.

[2021-06-28 12:07] slavipande commented on #457
Hi there,

This error does not look like it's related to the .mtar file. Could you please doublecheck if you're logged in successfully to your BTP account and try deployment again?

Please let us know in case you encounter further difficulties.

Best regards,
Svetoslav

[2021-06-28 13:58] qmacro commented on #443
Hi @yyaqqann - issues here are for providing feedback for the tutorial content itself. Please head on over to the SAP Community Q&A for your question - there's a specific tag for [SAP BTP, Cloud Foundry environment](https://community.sap.com/search/?ct=qa&mt=73555000100800000287&q=cloud%20foundry&qt=all). Thanks.

[2021-06-28 13:58] #443 closed

[2021-06-28 14:28] pablolaurin opened #458 "SAP HANA XS Advanced, Creating an HDI Module"
Tutorials: https://developers.sap.com/tutorials/xsa-hdi-module.html
--------------------------

I think the table/view snippets are missing the prefix _hana_app.db.data::_
Without the prefix, I get this error when building the db module:

[2021-06-28 14:31] jung-thomas commented on #458
No the prefix isn't missing in the code snippet.  In the earlier step you should have cleared the namespace:

**Clear the namespace field** (namespaces are only really there for backwards compatibility with the old HANA repository), enter a name for the schema and check the Build Module after creation tick box. Press Finish.
![image](https://user-images.githubusercontent.com/12159356/123654229-dda

[2021-06-28 14:31] #458 closed

[2021-06-28 14:48] pablolaurin commented on #458
Thanks Thomas!

[2021-06-28 17:38] iwonahahn commented on #449
Hi @ivanmir,

Thank you for your feedback. We will have a look at the tutorial and will improve it.

Best regards,
Iwona

[2021-06-29 03:37] yker14 commented on #457
Hi, indeed. I was not properly logge in. The message is misleading though.

Sorry for the inconveniences an thanks!

[2021-06-29 05:58] iwonahahn commented on #457
Hi @yker14,

Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

Best regards,
Iwona

[2021-06-29 05:58] #457 closed

[2021-06-29 07:52] german-mesa opened #459 "Create an ABAP Database Table and Relevant ABAP Dictionary Objects"
Tutorials: https://developers.sap.com/tutorials/abap-dev-create-table.html
--------------------------

Hi developers.sap.com team,

Just a minor thing. While creating the table, account_number starts being a key field at the beginning to become a non-key field at the end. The other way around happens to the bank_customer_id. Starts being a non-key field at the beginning to become a key field at th

[2021-06-29 12:19] jagadeesh247 opened #460 "Create a Calculation View with Differential Privacy in SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-calculation-view-differential-privacy.html
--------------------------

Write here how you think we can improve the tutorial ...

Hi Team,

The provided material is very good and helpful, But in the tool when I follwed the same process while creating the calculation view nothing is coming up it is like a blank screen which keeps on running

[2021-06-29 12:33] jung-thomas commented on #460
This does not appear to be any issue with the steps in the tutorial itself. It would appear to be a problem in the Calculation View editor itself. For that we would suggest that you post your question in the SAP Community Q&A or open a support ticket for the Business Application Studio Calculation View editor itself.

[2021-06-29 12:33] #460 closed

[2021-06-29 14:26] Tukutupap opened #461 "Consume SOAP Based Web Services with SAP BTP, ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-environment-soap-web-services.html
--------------------------

Product used in the example ('HT-1000') does not exist in product table SNWD_PD in ES5. Here is a list of alternative products that can be used.

AR-FB-1000PR
AR-FB-1001PR
AR-FB-1002PR
AR-FB-1003PR
AR-FB-1004PR
AR-FB-1005PR
AR-FB-1006PR
AR-FB-1007PR
AR-T-1000 PR
AR-T-1001 PR
AR-T-100

[2021-06-29 17:08] TheMasonAbides opened #462 "Deploy Your Multi-Target Application (MTA)"
Tutorials: https://developers.sap.com/tutorials/btp-app-cap-mta-deployment.html
--------------------------

In the questions, you have the mbt package spelled incorrectly in the answers.
![Screen Shot 2021-06-29 at 11 07 05 AM](https://user-images.githubusercontent.com/32575169/123839406-51a9ad80-d8ca-11eb-82ab-6a9d4026ebc9.png)

[2021-06-30 04:29] jagadeesh247 commented on #460
Hi Thomas,

Thanks for your quick response. I was using the HANA Cloud BTP Trail platform. Could you please help me on the procedure how to raise a support ticket for the same . It wolud be very helpful if there is any specific document with steps to be followed for the trail edition.

Thanks.

Regards,
jagadeesh.

[2021-06-30 13:21] iwonahahn commented on #462
Hi @TheMasonAbides,

Thank you for reporting this. We have fixed it as you can see [here](https://developers.sap.com/tutorials/btp-app-cap-mta-deployment.html#ec941da1-ae80-48ba-9600-1c9cca1f3ef5).

Best regards,
Iwona

[2021-06-30 13:21] AndyGla opened #463 "Build an Application End-to-End using CAP, Node.js and VS Code"
Mission: https://developers.sap.com/mission.btp-application-cap-e2e.html
--------------------------

This tutorial is great.

By downloading all materials from github you can either get the requiered code snippets from the website or by copying it from the "tutorials"-folder. That reduces the errors :-D

Thanks a lot - really enjoying this mission

Cheers

Andy

[2021-06-30 13:21] #462 closed

[2021-06-30 13:22] ibibhu commented on #454
Yes I have added the deploy format section ,

Let me re iterate the scenario without "cds add hana",
then will share you the error logs.

[2021-06-30 13:30] uwe-klinger commented on #463
Hi Andy,

It's great to hear that you enjoyed doing our tutorial. Thanks for your feedback.

Best regards,
Uwe (on behalf of the tutorial team)

[2021-06-30 13:30] #463 closed

[2021-06-30 14:39] TheMasonAbides commented on #462
Thanks Iwona!

On Wed, Jun 30, 2021 at 7:21 AM Iwona Hahn ***@***.***> wrote:

[2021-07-01 05:20] uwe-klinger commented on #454
Thanks!

[2021-07-01 10:05] iwonahahn commented on #425
Hi @Askullu,

We have updated the tutorial using SAP HANA Cloud service now. Please see the prereqs for SAP HANA Cloud service and updated steps (especially 3.1) in the tutorial.

Best regards,
Iwona

[2021-07-01 11:54] Ralpscha opened #464 "Develop a Business App Using SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/appstudio-cap-app.html
--------------------------

genre sample data is not loaded

[2021-07-01 15:46] laszloKajan opened #465 "Create a UI Using Freestyle SAPUI5"
Tutorials: https://developers.sap.com/tutorials/btp-app-create-ui-freestyle-sapui5.html
--------------------------

Step 5 "If these are of interest to you, you can go on using cds watch and skip the rest of the section." should probably read:

- "If these are of /no/ interest to you ...".

[2021-07-02 01:46] yker14 opened #466 "Set Up the SAP HANA Cloud Service"
Tutorials: https://developers.sap.com/tutorials/btp-app-hana-cloud-setup.html
--------------------------
I am getting this message in the BTP screen at step 4.13 where it says i must have "undefined vCPUs" for this capabilities.

I'm also having troubles deploying the app at the end of this tutorial, not sure if it might be related to this.

![image](https://user-images.githubusercontent.com/72297

[2021-07-02 06:35] MichaelCzcz commented on #327
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-02 06:35] #327 closed

[2021-07-02 07:01] iwonahahn commented on #466
Hi @yker14,

The message is related to the SAP Cloud Connector enabling, This is not relevant for you. Could you please share which issue you face for deployment? Maybe you can share your GitHub repo and we can have a look,

Best regards,
Iwona

[2021-07-02 10:06] klickerlebnis opened #467 "Create Business Configuration for Factory Calendar"
Tutorials: https://developers.sap.com/tutorials/abap-environment-service-binding.html
--------------------------

Under step 2.8 the right-click has to be performed with "Dictionary" instead Right-click on Data Elements...

[2021-07-02 11:31] iwonahahn commented on #465
Hi @laszloKajan,

Thank you for your feedback. We have updated the tutorial in [step 5](https://developers.sap.com/tutorials/btp-app-create-ui-freestyle-sapui5.html#8e986496-9203-4868-925d-b60467623331).

Best regards,
Iwona

[2021-07-02 11:31] #465 closed

[2021-07-02 22:25] greg2git opened #468 "Installing SAP HANA, express edition with Docker"
Tutorials: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html
--------------------------

A new Hana express has been released: `2.00.054.00.20210603.1.`

Please update accordingly, especially for sizing requirements.

Thanks,
greg

[2021-07-04 08:12] pjcools opened #469 "Develop and Run SAP Fiori Application With SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
--------------------------

Having an issue with Step 6: Deploy your application. I get the following error when trying to deploy using the statement
npm run deploy

user: ztravel_app_197 $ npm run deploy
npm WARN lifecycle The node binary used for scripts is /extbin/bin/node but npm is using /opt/nodejs/nod

[2021-07-04 08:17] pjcools commented on #469
Ignore - I had the wrong transport number in the ui5-deploy.yaml file

[2021-07-04 08:17] #469 closed

[2021-07-04 08:38] pjcools opened #470 "Develop and Run SAP Fiori Application With SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
--------------------------
Having an issue with Step 8: Create IAM App and business catalog

When creating the IAM app I cannot see the Service Type of 'OData IWSG' - this does not show in my list. I can only see the following.

![image](https://user-images.githubusercontent.com/38389079/124378832-ef501300-d

[2021-07-04 18:17] russellw999 opened #471 "Create Database Artifacts Using Core Data Services (CDS) for SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-database-cds.html
--------------------------

Write here how you think we can improve the tutorial ...

Step 3 Deploy Objects into the Databaee -  Use the  SAP HANA Projects view ??

I would if it existed but it does not appear on the left side options

I have
1.   MyHANNAAPP
2.  NPM SCRIPTS
3.  CAP DATA MODELS AND SERVICES
4. T

[2021-07-04 22:07] jung-thomas commented on #471
Go back to the previous tutorial when you created your Dev Space: https://developers.sap.com/tutorials/hana-cloud-cap-create-project.html
In the first step when creating the space you need to select the additional SAP HANA Tools and Calculation View editor.
![image](https://user-images.githubusercontent.com/12159356/124400698-76e75300-dcf2-11eb-8ebb-50e35fe9fa4f.png)

If you are missing the SAP HA

[2021-07-04 22:07] #471 closed

[2021-07-05 01:28] yker14 commented on #466
Hello @iwonahahn thank you for assisting me with the issue.

So this happens in the step 8.2 of the Deploy Your Multi-Target Application (MTA) tutorial.

The steps fails to do the deploy task of cpapp-db-deployer. The logs return the following messages:

######org.cloudfoundry.multiapps.controller.persistence.services.ProcessLogger########flowable-async-job-executor-thread-1644###
[PollExecuteTask

[2021-07-05 05:32] uwe-klinger commented on #449
Hi @ivanmir,

Thanks for your feedback.

You're right, the the text lacks some guidance. We'll add it.

But will keep the documentation for live landscapes, as developers might need to setup their development account. Anyhow, and also in the spirit of DevOps, it doesn't hurt to understand the full process. :-)

Best regards,
Uwe

[2021-07-05 05:42] uwe-klinger commented on #466
Hi @yker14 ,

We had a few issues with apps running on trial not being whitelisted as "SAP IP". I opened a ticket for that issue.

For the time being, please try the following:

1. Log into your trial account
2. Choose subaccount **trial**
3. Choose **Spaces**
4. Choose space **dev**
5. Choose **SAP HANA Cloud**
6. Choose **Actions → SAP HANA Cloud Central** for your SAP HANA Cloud instance
7. Cho

[2021-07-05 05:42] #466 closed

[2021-07-05 06:28] mervey45 commented on #470
Hi @pjcools ,

please try out OData V2, there was a name change. I'll update this.

Thank you.

Best regards,
Merve

[2021-07-05 07:39] mervey45 commented on #467
Hi @klickerlebnis ,

thank you for your feedback. You are able to create a new data element by right-clicking the dictinary and then selecting data element. Or you can directly right-click the data elements folder to create a new data element. You have both options.

Best regards,
Merve

[2021-07-05 07:41] mervey45 commented on #461
Hi @Tukutupap ,

thank you for your feedback.

Best regards.
Merve

[2021-07-05 07:41] #461 closed

[2021-07-05 07:41] #467 closed

[2021-07-05 07:45] mervey45 commented on #441
Hi @klickerlebnis ,

thank you for your feedback.
The screenshot has changed. OData V2 (deprecated) should be the one.

We will update this as soon as possible.

Best regards,
Merve

[2021-07-05 07:58] #404 closed

[2021-07-05 08:01] mervey45 commented on #438
Hi @Klickerlebnis,

thank you for your feedback. We'll update this as soon as possible.

Best regards,
Merve

[2021-07-05 09:55] MerlinBrandner opened #472 "Create a Reusable Service"
Tutorials: https://developers.sap.com/tutorials/cp-cap-java-reusable-service.html
--------------------------

index.cds has wrong admin-services path. Missing letter 's'  in " using from './srv/admin-service'; "
Instead it should be: " using from './srv/admin-services'; "

`using from './srv/admin-service';`

should be changed to

`using from './srv/admin-services';`

[2021-07-05 14:27] JCurrie27 commented on #468
Updated string to 2.00.054.00.20210603.1

[2021-07-05 14:27] #468 closed

[2021-07-05 14:35] russellw999 opened #473 "Create an SAP Cloud Application Programming Model Project for SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-create-project.html
--------------------------

Write here how you think we can improve the tutorial ...
Hi Thomas,

I think a link to your YouTube SAPDev  video's on Building hana-opensap-cloud would be useful for giving a deeper background on whats going on when you create the project.  By chance i had come across these video's befor

[2021-07-05 15:49] #456 closed

[2021-07-05 19:24] greg2git opened #474 "SAP HANA Database Explorer Overview"
Tutorials: https://developers.sap.com/tutorials/hana-dbx-overview.html
--------------------------

Hi Dan,

can provide more details for this statement?
`A machine that can run SAP HANA, express edition if the SAP HANA Cloud trial is not used`

Prior versions of explorer, i.e. pre-existing connections can no longer be opened or even displayed, have stopped working for me but it is not quite clear

[2021-07-06 03:53] nicbotha opened #475 "Create a Reusable Service"
Tutorials: https://developers.sap.com/tutorials/cp-cap-java-reusable-service.html
--------------------------

In Step 9: Set up for reuse point 2 the the code example is
`using from './db/schema';
using from './srv/admin-service';`

but should it not be

`using from './db/schema';
using from './db/admin-service';`

[2021-07-06 04:29] #475 closed

[2021-07-06 06:34] Vikramkulkarni01 opened #476 "Discover and Import the Live Process Package -- Screenshot needs to be updated"
Tutorials: https://developers.sap.com/tutorials/cp-cf-workflowmanagement-discover.html
--------------------------
Hi,

Update the screenshot of the tutorial in the following step
Step 1: Configure destination

It still shows SAP Cloud Platform Cockpit. Should be changed to SAP BTP Cockpit.

![image](https://user-images.githubusercontent.com/59861880/124553508-74037400-de52-11eb-9053-3e9c12501953.p

[2021-07-06 07:01] beckermarc commented on #472
Hi @MerlinBrandner,

thanks for opening an issue, but that might be a typo on your side. In the original step where the tutorial instructs to create this file we suggest to name it `admin-service.cds`. See Step 3 in this tutorial part: https://developers.sap.com/tutorials/cp-cap-java-app-studio.html. If you follow that suggestion the using statement is correct.

I couldn't find any place where we

[2021-07-06 07:01] #472 closed

[2021-07-06 07:12] mblst opened #477 "Set Up Your Java Development Environment"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-setup.html
--------------------------

Write here how you think we can improve the tutorial ...
"Set Up Java Development Tools" points to an illegal help portal page. I went to https://tools.hana.ondemand.com/#cloud instead, but on this page, it is unclear which package should be installed. So,  I installed eclipse-inst-jre-win6

[2021-07-06 07:49] mblst opened #478 "Set Up Your Java Development Environment"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-setup.html
--------------------------

Write here how you think we can improve the tutorial ...

There is no Preferences -> Team. I am afraid, I can't configure Git. I don't know whether this is really necessary.

[2021-07-06 07:52] mblst opened #479 "Set Up Your Java Development Environment"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-setup.html
--------------------------

Write here how you think we can improve the tutorial ...

On my system maven is installed already. I clicked on "open file" but nothing happened. So, I assume that Eclipse IDE has successfully detected my Maven installation on its own. So. I hit "Apply".

[2021-07-06 08:04] mblst opened #480 "Build and Deploy a Java Application"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html
--------------------------

Write here how you think we can improve the tutorial ...

The "Master" branch is now called "main". Please correct.

[2021-07-06 08:12] mblst opened #481 "Build and Deploy a Java Application"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html
--------------------------

Write here how you think we can improve the tutorial ...
The build produced the following errors:
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/Users/d051598/.p2/pool/plugins/org.eclipse.m2e.maven.runtime.slf4j.simple_1.18.0.20210402-1458/jars/sl

[2021-07-06 08:24] mblst opened #482 "Build and Deploy a Java Application"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html
--------------------------

Write here how you think we can improve the tutorial ...
I guess, as a sequential error, there was no *.war file on my Users/<D_I_number>/git or /git/cloud-espm-v2 folder. So, I guess the Maven build did not complete.

[2021-07-06 09:56] danielva commented on #474
Further requirements on running SAP HANA, express edition are provided in step 4 of the tutorial.

There is an option in the settings menu (gear icon top left) of the database explorer, under Database Explorer called Remove all user data.  Pressing that would delete the connections.

If the pre-existing connections stopped being displayed in a production version of the software, I would recommend

[2021-07-06 09:56] #474 closed

[2021-07-06 13:16] #449 closed

[2021-07-06 13:18] iwonahahn opened #483 "Build and Deploy a Java Application"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-deploy.html
--------------------------

Write here how you think we can improve the tutorial ...

Please rebrand from `SAP Cloud Platform`--› `SAP Business Technology Platform`

[2021-07-06 18:46] jung-thomas commented on #473
I appreciate the feedback and I'm glad you found the larger video series helpful.  However I hesitate to link it directly inside the body of the tutorial. Many people will see that as a prerequisite to performing the tutorial and that's more content than many people will want to review before attempting a few hours at a tutorial.  The idea is that the tutorials are targeted or small samples of lea

[2021-07-06 18:46] #473 closed

[2021-07-07 05:23] Deeksha-R commented on #476
@Vikramkulkarni01 thank you! i have now updated the screenshot. You will be able to view the changes with today's publish.

[2021-07-07 06:01] #476 closed

[2021-07-07 08:34] slavik-chapelskyi opened #484 "Add a New Entitlement to Your Subaccount"
Tutorials: https://developers.sap.com/tutorials/cp-cf-entitlements-add.html
--------------------------
Seems like a typo in _**Select** the `tile`_ -> `title`
![image](https://user-images.githubusercontent.com/33541009/124726837-cad28180-df16-11eb-81fd-9e2700907f71.png)

[2021-07-07 11:43] IObert commented on #484
Hi,

thanks for providing feedback. Actually, this is not a typo. I meant the tile that *has the title* "Trial"
<https://www.pinterest.com/lbroumand/tile-based-ux-design/>

[2021-07-07 11:43] #484 closed

[2021-07-07 16:01] iwonahahn opened #485 "Alerts in SAP HANA Database and Data Lake"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-alerts.html
--------------------------

Write here how you think we can improve the tutorial ...

Hi Dan,

SAP Alert Notification service is only available for Free Tier and not on Trial (for Feature Set B), as you can see [here](https://discovery-center.cloud.sap/servicessearch/alert/?) and below in the screenshot. This should be mentione

[2021-07-08 10:19] NidhiMurkute opened #486 "Configure Business Rules, Workflow and Process Visibility"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
--------------------------

Step 5: Download and import workflow sample application
3. After click on Open workspace, there should be another step to select the project folder.

![image](https://user-images.githubusercontent.com/50734023/124905348-938dce80-e003-11eb-84df-8e68c7896fff.png)

[2021-07-08 10:24] #486 closed

[2021-07-08 10:28] NidhiMurkute commented on #413
Hi,

SCPTest-2107A: The screenshot is still not updated.

[2021-07-08 13:11] NidhiMurkute commented on #414
Hi,

SCPTest-2107A: The above issue still persists.

[2021-07-08 13:34] DOCQUIERV5 opened #487 "Create an SAP Fiori App Using SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/appstudio-fioriapps-create.html
--------------------------

Write here how you think we can improve the tutorial ...

The tutorial asks to complete form like this

![image](https://user-images.githubusercontent.com/87133385/124929642-f5990480-e000-11eb-9b03-e28db35d6ea7.png)

And here, in this case, he asks like this (Username and password??? I tried

[2021-07-08 13:46] raz-korn commented on #487
Hi @DOCQUIERV5 ,

Do you have an account on ES5?
The credentials for ES5 should be used in the ES5 destination configuration in SAP BTP.
Please refer to this [issue ](https://github.com/SAPDocuments/Issues/issues/36) for steps to troubleshoot.
Let me know if it worked or additional assistance is needed.

Regards - Raz

[2021-07-08 13:56] DOCQUIERV5 commented on #487
Hi Raz,

I think well I have an account. Check!

***@***.***D77411.D16DF7B0]
***@***.***D77411.D16DF7B0]

Vivian DOCQUIER

***@***.***D77411.D16DF7B0]
Mechelen | Gent | Lummen | Namen | Windhof(L)
www.ordina.be<https://www.ordina.be/> / E-mail disclaimer<http://www.ordina.be/mailfooter/disclaimer.htm>

From: Raz Korn ***@***.***>
Sent: Thursday, 8 July 2021 15:47
To: SAPDocuments/Issues ***@***.**

[2021-07-08 14:27] DOCQUIERV5 commented on #487
I think it's all right

Thanks a lot Raz

[2021-07-08 14:27] #487 closed

[2021-07-08 15:27] danielva commented on #485
Reached out via email and included a colleague I hope can help further.  I do see the alert service in my trial account and am also using Feature Set B.
For trial, perhaps the following link might help.
https://discovery-center.cloud.sap/serviceCatalog/sap-alert-notification-service?region=all&tab=service_plan&licenseModel=free
It mentions that regions that it is available for trial.  I hope that

[2021-07-08 15:27] #485 closed

[2021-07-09 06:59] amysy opened #488 "Help Thomas Get Started with SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-trial-advanced-analytics.html
--------------------------

The Image in step 7 shows the db name and other artifacts. My screen is different DB name is not shown directly goes to shared key hdi.
![HelpTPJ-issue](https://user-images.githubusercontent.com/13893456/125036992-40df0180-e059-11eb-8fba-f9de04c146c6.PNG)

[2021-07-09 07:45] amysy commented on #488
Step 9- in sub-step 2: create file DEVS.hdtable deployment doesn't work.  It errs out with the message as shared in the image attached below. I'd like to complete this step before moving to the rest of the tutorial.
![HelpTPJ-issue2](https://user-images.githubusercontent.com/13893456/125042710-c6fe4680-e05f-11eb-8cc9-885bc8c638da.png)

[2021-07-09 07:48] amysy commented on #488
This issue is not closed, Kindly help me resolve to work on this tutorial.

[2021-07-09 09:27] Schokolado opened #489 "Customize the Overview View Controller to Display Customers and Products"
Tutorials: https://developers.sap.com/tutorials/fiori-ios-scpms-teched19-03.html
--------------------------

Write here how you think we can improve the tutorial ...

Update The Turorial according to the newest Version, where no Proxy classes and Model will be created.
All i see iss ESPMContainer.

[2021-07-09 09:50] PriyankaRShivakumar opened #490 "Name of the entitlements in prerequisite should be changed"
**Tutorials:** https://developers.sap.com/tutorials/appstudio-fioriapps-mta-build-deploy.html
--------------------------
**Step: Prerequisite**

**Issue:**
Application Runtime is now called Cloud Foundry Runtime. This should be changed.

Best Regards,
Priyanka

[2021-07-09 10:00] PriyankaRShivakumar opened #491 "Create an SAP Fiori App Using SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/appstudio-fioriapps-create.html
--------------------------
**Step 3: Generate an app based on SAPUI5 Application template**

**Issue:**
The data source and Screenshot should be changed. The data source **Connect to an SAP system** is now **Connect to a system** as below.
![image](https://user-images.githubusercontent.com/17827092/125060984-81c32e80-e

[2021-07-09 11:18] KevinMuessig commented on #489
Hi @Schokolado ,

I will work on updating the tutorials to the newest version!

Thanks for letting me know.

Best Kevin

[2021-07-09 11:18] #489 closed

[2021-07-09 11:48] jung-thomas commented on #488
That step is telling you to create a file named DEVS.hdbtable.
![image](https://user-images.githubusercontent.com/12159356/125073254-acd95e00-e089-11eb-9976-5287fc56dd98.png)

You created a file named DEVS.hdtable. hdtable is not a valid file extension and therefore the deploy step doens't know what to compile it into.

To your earlier question

It's perfectly normal that you might see multiple co

[2021-07-09 11:48] #488 closed

[2021-07-09 19:03] Askullu commented on #425
Hi @iwonahahn
Still having issues getting the data displayed.
![image](https://user-images.githubusercontent.com/75372983/125124519-d6d86200-e115-11eb-9dfa-1eb65061c93b.png)
Logs
C:\Users\C5309305\my-bookshop>cf logs my-bookshop-srv
Retrieving logs for app my-bookshop-srv in org 266b2262trial / space dev as akanksha.sherrie.kullu@sap.com...

   2021-07-10T00:23:38.02+0530 [STG/0] OUT added 193 pac

[2021-07-10 02:45] VanitaDhanagar opened #492 "Perform Actions On Cards To Support Your Business Case"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-cards-booster-starter.html
--------------------------

in step 3.8 : Tap on Call, SMS, **Open Maps** and Email action to perform the corresponding action.

Open map option is not available
![Screenshot_2021-07-08-15-38-32-073_com sap content2go](https://user-images.githubusercontent.com/80330660/125149219-4883d080-e155-11eb-9562-0b1a6684330

[2021-07-10 02:57] VanitaDhanagar opened #493 "Create A New Welcome Card"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-cards-welcome.html
--------------------------

In step 3.11
The Welcome Card Template - Single Instance is not downloading automatically it shows downloading but does not download.
Until we do unsubscribe and subscribe the card from application.Please check screenshot
![Screenshot_2021-07-08-15-14-03-457_com sap content2go](https://user-ima

[2021-07-10 15:29] sqjlin opened #494 "Create an SAP Fiori Elements-Based UI"
Tutorials: https://developers.sap.com/tutorials/btp-app-create-ui-fiori-elements.html
--------------------------

Step 2, isn't these Fiori Elements (e.g. List Report Object Page) available in @sap/generator-fiori instead of @sapui5/sapui5-templates

[2021-07-11 06:30] pjcools commented on #470
This did not work

![image](https://user-images.githubusercontent.com/38389079/125184969-3e50f780-e265-11eb-8e2b-83b1ef7d8647.png)

But I chose the deprecated item and then it worked. If you can please update this tutorial to show the right steps that would be great.

This screenshot shows it has worked when I selected the deprecated entry.

![image](https://user-images.githubusercontent.com/38389

[2021-07-11 08:33] raz-korn commented on #491
Thanks, @PriyankaRShivakumar .
Updated and pushed to production.

Regards - Raz

[2021-07-11 08:33] #491 closed

[2021-07-11 08:40] raz-korn commented on #490
Thanks, @PriyankaRShivakumar .
Updated and pushed to production.

Regards - Raz

[2021-07-11 08:40] #490 closed

[2021-07-12 06:36] mervey45 commented on #470
Hi @pjcools ,

in my last message I mentioned deprecated in brackets. I also ment the deprecated version of odata v2. I'll update this as soon as possible.

Best regards,
Merve

[2021-07-12 06:36] #470 closed

[2021-07-12 07:12] NidhiMurkute opened #495 "Set Up Workflow Management in Cloud Cockpit"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-1-setup.html
--------------------------

Step1 : If user has two subaccounts in trial landscape then after selecting the workflow Booster, the below popup comes, where one has to select the subaccount in which the required entitlements for the Booster have been added.
![image](https://user-images.githubusercontent.c

[2021-07-12 07:31] NidhiMurkute opened #496 "Configure Business Rules, Workflow and Process Visibility"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
--------------------------

Step 1: Configure API Business Hub destination : point3: While configuring the destination its asked to enter the credentials who doesnt have 2 factor authentication enabled. But I have configured destination using my credential(two factor authentication is enabled) and c

[2021-07-12 10:36] julieplummer20 commented on #459
Hi German,
You are quite right.
I apologise. I will fix this at once. For reference, here is the correct code:

`@EndUserText.label : 'Bank Accounts Table JP'
@AbapCatalog.enhancement.category : #NOT_EXTENSIBLE
@AbapCatalog.tableCategory : #TRANSPARENT
@AbapCatalog.deliveryClass : #A
@AbapCatalog.dataMaintenance : #RESTRICTED
define table zaccounts_jp3 {
  key client         : mandt not null;
  ke

[2021-07-12 10:36] #459 closed

[2021-07-12 11:10] Askullu opened #497 "Deploy a CAP Business Application to SAP Business Technology Platform"
Tutorials: https://developers.sap.com/tutorials/cap-service-deploy.html
--------------------------
Issue: The deployed application my-bookshop-srv is not able to load the data

Description: In step 3.3 After we deploy the application, it is able to launch the application but not able to find the table i.e if we click on Authors getting the "Internal server error"

![image](https://user-images.gith

[2021-07-12 17:58] iwonahahn commented on #494
Hi @sqjlin,

Thank you for reporting it. We need to reproduce this issue with the latest release and will get back to you asap.

Best regards,
Iwona

[2021-07-12 19:01] iwonahahn commented on #425
Hi @Askullu,

Your SAP HANA Cloud instance is up and running? I will try the tutorial with the latest CAP release and will get back to you asap.

Best regards,
Iwona

[2021-07-13 04:04] FarozanFarman commented on #426
Hi Team,

Any update on this as the issue still persists.

Thanks and Regards,
Farozan

[2021-07-13 06:18] VandanaVasudevan commented on #444
Hi @AbeDong,

I'm unable to find the project. Can you please send it once again?

Best Regards,
Vandana

[2021-07-13 07:40] mervey45 commented on #426
Hi @FarozanFarman ,

I created following pull request: #6834. @MichaelCzcz  can you merge my pull request?
Thank you in advance.

Best regards,
Merve

[2021-07-13 07:40] mervey45 commented on #438
Hi @MichaelCzcz  ,

I created following pull request: #6834. Can you merge my pull request?
Thank you in advance.

Best regards,
Merve

[2021-07-13 07:40] mervey45 commented on #441
Hi @MichaelCzcz  ,

I created following pull request: #6834. Can you merge my pull request?
Thank you in advance.

Best regards,
Merve

[2021-07-13 07:58] #426 closed

[2021-07-13 07:59] #438 closed

[2021-07-13 07:59] #441 closed

[2021-07-13 08:02] Prathibha-Mouli commented on #435
Hi @krisho007,
The tutorial is updated to provide clarity in the Step 1.
Updated Tutorial : https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html

[2021-07-13 08:33] Prathibha-Mouli commented on #436
@krisho007 we are aware, and will pick it up when we have the bandwidth.
Thank you.

[2021-07-13 08:33] #436 closed

[2021-07-13 09:27] MichaelCzcz commented on #453
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-13 09:27] #453 closed

[2021-07-13 09:50] gauthamkrishna-sap commented on #376
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-13 09:50] gauthamkrishna-sap commented on #332
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-13 09:50] gauthamkrishna-sap commented on #331
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-13 09:50] gauthamkrishna-sap commented on #330
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-13 09:50] gauthamkrishna-sap commented on #326
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-13 09:50] gauthamkrishna-sap commented on #325
Hello,
We are still working on updates for this series. In the meantime, this tutorial from TechEd is a great alternative to continue your integration learning journey: https://github.com/SAP-samples/teched2020-DEV165
Best Regards,
Gautham

[2021-07-13 11:16] jcawley5 commented on #342
Hi Alex,

Thank you for the comment. The tutorials have been updated to reflect the name changes.

Regards,
Jamie

[2021-07-13 11:16] #342 closed

[2021-07-13 11:20] jcawley5 commented on #389
Hello,

Can you please try again? You must be in one of the missions for the next step to appear.

Regards,
Jamie

[2021-07-13 11:20] #389 closed

[2021-07-13 15:45] iwonahahn commented on #497
Hi @Askullu,

This is the same issue as reported in #425. The tutorial was reworked in step 1 and 3 using SAP HANA Cloud service now by executing `cds add hana`. Note that your SAP HANA Cloud instance (you need to create one or use an existing one as described in the prereqs) will be automatically stopped overnight, according to the server region time zone. That means you need to restart your inst

[2021-07-13 16:16] cfg74 commented on #386
Hi @ag3silaus ,
please apologize for the delay in response. In order to help diagnosing the problem we need the project you are trying to preview. For that, please 1) delete the "node_modules" folder in the project folder, and 2) use "Download" from the right-click menu of your project. 3) Attach the result here for further investigation.

Thanks and best regards,
Christoph

[2021-07-14 04:48] Askullu commented on #497
Hi @iwonahahn
I retested the scenario and it working as expected. Not quite sure why it gave this error that day even though I created a new SAP HANA Cloud instance.

Many thanks,
Akanksha

[2021-07-14 06:29] iwonahahn commented on #497
Hi @Askullu,

Nice to read that. So we can close this issue.

Best regards,
Iwona

[2021-07-14 06:29] #497 closed

[2021-07-14 06:31] iwonahahn commented on #454
The issue seems to be resolved, so I am closing the issue. If you still have questions, feel free to reopen the issue.

[2021-07-14 06:31] #454 closed

[2021-07-14 07:16] irfanmohammad2010 opened #498 "Set Up Your Java Development Environment"
Tutorials: https://developers.sap.com/tutorials/cp-java-reference-app-setup.html
--------------------------

Many links not working from help.sap.com

[2021-07-14 13:16] sebasgoldberg opened #499 "Develop and Run SAP Fiori Application With SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/abap-environment-deploy-cf-production.html
--------------------------

Hi, after successfully deploying the UI App to the ABAP Cloud Environment I am trying to access to the App using the URL displayed in the console's deploy log, but I am getting the following:

![image](https://user-images.githubusercontent.com/1379852/125628326-1528ff7b-e8e2-403d-

[2021-07-14 15:08] greg2git opened #500 "Installing SAP HANA, express edition with Docker"
Tutorials: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html
--------------------------

Your prerequisites page lists Debian 9 Community option as tested, but when trying to obtain Docker image for that linux distribution 9 is not available any longer but only 10 and 11 are.

Can you please either update this dependency or remove it from the this list in your tutorial?

Thank

[2021-07-14 18:05] sandeep-tds commented on #493
Hi @VanitaDhanagar

Thank you for raising the issue. I have updated the note. The same will be available by the end of this week.

Warm Regards
Sandeep T D S

[2021-07-14 19:00] sqjlin opened #501 "Add the SAP Launchpad Service - Step 10 will fail"
Tutorials: https://developers.sap.com/tutorials/btp-app-launchpad-service.html
--------------------------

Step 10 will fail because of MTA.yaml file.
Error message:
Telemetry]: ENOENT: no such file or directory, open
[Telemetry]: ENOENT: no such file or directory, open
events.js:352
      throw er; // Unhandled 'error' event
      ^

Error: the "/Users/XXXXX/Documents/btpapptutorial/cpapp/mta.yam

[2021-07-14 19:12] sandeep-tds commented on #492
Hi Vanita,

I tested the behaviour on my device and can confirm that the Open Maps option appears on both iOS & Android.
I will reach out to you internally to see the issue on your device.

![Droid](https://user-images.githubusercontent.com/43441840/125679230-2ed6cdb3-c2fd-4c96-b586-926dc9bc4425.jpeg)

![iOS](https://user-images.githubusercontent.com/43441840/125679320-02ac7c2f-f98c-40a2-9b28-91a9

[2021-07-14 19:14] sandeep-tds commented on #415
Hi Vanita,

Since the issue is the same as the one you raised today, I am closing this ticket.
https://github.com/SAPDocuments/Issues/issues/493

Warm Regards
Sandeep T D S

[2021-07-14 19:14] #415 closed

[2021-07-15 04:20] VanitaDhanagar commented on #492
Hi Sandeep ,

This issue is exist in US region ,Please check in that region as mentioned in label .

Thanks and Regards,
Vanita

[2021-07-15 09:30] Paolaufer commented on #394
HI,
I've sent this to the developers and hope to have a reply for you soon.
I will keep you updated.

[2021-07-15 09:32] Paolaufer commented on #446
Thank you for the feedback!
I've made the change and will republish the tutorial.

[2021-07-15 09:32] #446 closed

[2021-07-15 09:34] Paolaufer commented on #464
This issue should be fixed now.
I am closing the ticket.

Please reopen if the problem recurs.

[2021-07-15 09:34] #464 closed

[2021-07-15 09:53] pekiti opened #502 "Start Your MDK Application in the Editor: Error "Cannot find module encoding" while executing "3. Select MDK Project and click Start.""
Tutorials: https://developers.sap.com/tutorials/cp-mobile-dev-kit-offline-app.html
--------------------------

Error "Cannot find module encoding' while executing "3. Select MDK Project and click Start."

`{"message":"@ext-mdkvsc-npm-rel/mdk:app generator failed - runGenerator() Cannot find module 'encoding'\nRequire stack:\n- /extbin/npm/globals/lib/node_modules/node-fetch/lib/body.js\n- /extbin/

[2021-07-15 10:07] Paolaufer commented on #230
I've updated the tutorial. Thank you for the feedback!

[2021-07-15 10:07] #230 closed

[2021-07-15 12:41] mervey45 commented on #499
Hi @sebasgoldberg ,

have you created the IAM app and business catalog (step 7 + 8)? If not, please do so. If yes, please contact me again.

Best regards,
Merve

[2021-07-15 12:42] JCurrie27 commented on #500
Thanks greg2git - I'm confirming latest Debian support with our team and will update this tutorial accordingly.

[2021-07-15 12:42] #500 closed

[2021-07-15 13:55] jitendrakansal commented on #502
@pekiti  are you experiencing this issue in your trial or productive account?

[2021-07-15 14:56] pekiti commented on #502
@jitendrakansal It's happening in my trail environment

[2021-07-15 15:34] sebasgoldberg commented on #499
Hi @mervey45,

Yes, I have created.

Now it is working, but initially the response was the mentioned 403 Forbidden.

Additionally I have tried to add the App to the BTP Lauchpad service, but I am getting the same error when trying to access to the App from Launchpad:

![image](https://user-images.githubusercontent.com/1379852/125814581-20ce979c-4af8-4ac4-a27f-77dbfb687eec.png)

![image](https://us

[2021-07-15 20:14] iwonahahn commented on #494
Hi @sqjlin,

The_List Report Object Page_ is one of four floorplans as shown in the screenshot [here](https://developers.sap.com/tutorials/btp-app-create-ui-fiori-elements.html#1ac967fe-87cd-4a6b-9483-0dac7b344787) when using the template wizzard provided by the package `@sap/generator-fiori`.

`@sapui5/sapui5-templates` will be used later in the tutorial [Create a UI Using Freestyle SAPUI5](https

[2021-07-16 00:35] sqjlin opened #503 "Add the SAP Launchpad Service, Step 17 Execution of task "deploy" on application "cpapp-db-deployer" failed."
Tutorials: https://developers.sap.com/tutorials/btp-app-launchpad-service.html
--------------------------
The below is true even when using the copy from launchpad-service branch.
Unfortunately Step 17 will fail, cpapp-db-deployer cannot be deployed.

A step of the process has failed. Retrying it may solve the issue.
Proceeding with automatic retry... (1 of 3 attempts left)
Executing task "deploy"

[2021-07-16 10:46] YogithaC commented on #482
Can you send a screenshot of the maven build error?

[2021-07-16 11:02] iwonahahn commented on #503
Hi @sqjlin,

Is your SAP HANA Cloud instance running? Your SAP HANA Cloud instance will be automatically stopped overnight, according to the server region time zone. That means you need to restart your instance every day before you start working with it.

Best regards,
Iwona

[2021-07-16 11:22] vishalkr31 opened #504 "Create a CAP-Based Application"
Tutorials: https://developers.sap.com/tutorials/btp-app-create-cap-application.html
--------------------------

Write here how you think we can improve the tutorial ...

while copying the excel to our project ( cpapp) we first need to create folder data in the db folder

[2021-07-16 12:06] uwe-klinger commented on #501
Hi @sqjlin,

The block `cpapp-destinations` (with the "s" at the end) is in the `modules` section of the `mta.yaml`. I think you put it accidentially in the `resources` section. This leads to this error message.

[code]

The `cpapp-destination` (without the "s") should stay in `resources`.

[code]

We will check if we can make the naming clearer.

[2021-07-16 13:27] iwonahahn commented on #504
Hi @vishalkr31,

There is no need to create a `data` folder, cause as mentioned in step 2.7. you should copy this folder from the templates:

![2021-07-16_15-23-16](https://user-images.githubusercontent.com/22098308/125955133-98ae2af7-a03c-43e5-9434-a2eb1fb730d9.png)

Best regards,
Iwona

[2021-07-16 13:27] #504 closed

[2021-07-18 08:45] 18251926152 opened #505 "Configure Business Rules, Workflow and Process Visibility"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
--------------------------

Write here how you think we can improve the tutorial ...

I am a beginner, when I try to finish the 2nd tutorial in Mission Beginer 'Automate and Extend Employee Onboarding',  the STEP 6 did no t work whether i tried many times with different PC.
I have to say it is so fr

[2021-07-18 21:23] sqjlin commented on #503
Hi @iwonahahn ,

Yes. I've redone this tutorial at least 3 times, checked my HANA Cloud instances, even did up other tutorials using it, and unfortunately this deployment step will always fail.

Thank you.

[2021-07-19 08:34] uwe-klinger commented on #503
Hi @sqjlin,

We had a few issues with apps running on trial not being whitelisted as "SAP IP". I opened a ticket for that issue.

For the time being, please try the following:

1. Log into your trial account
2. Choose subaccount **trial**
3. Choose **Spaces**
4. Choose space **dev**
5. Choose **SAP HANA Cloud**
6. Choose **Actions → SAP HANA Cloud Central** for your SAP HANA Cloud instance
7. Choo

[2021-07-19 09:13] jitendrakansal commented on #502
@pekiti okay, thanks for the info.
I am currently checking it with our dev experts, will get back to you.

[2021-07-19 11:45] sebasgoldberg commented on #499
Hi @mervey45,

Do you have any update regarding running SAP Fiori Application in SAP BTP ABAP Environment and publishing it in a BTP Fiori Launchpad Service?

Thanks in advance.

[2021-07-19 12:00] mervey45 commented on #499
Hi @sebasgoldberg ,

did you try to do following [tutorial](https://developers.sap.com/tutorials/abap-environment-abap-flp.html) in the trial system? If yes, then this won't work. Because this is currently only available for licensed systems.

If you still have any issues, feel free to contact me again.

Best regards,
Merve

[2021-07-19 13:24] sebasgoldberg commented on #499
Hi @mervey45,

The problem is that the trial system does not have the apps needed to do the suggested tutorial.

![image](https://user-images.githubusercontent.com/1379852/126165258-3559b0bb-ab64-44a6-9b46-2f27e26ee571.png)

1) How can I complete the suggested tutorial in the trial system?

2) Additionally, Should not be possible to consume from BTP Fiori Launchpad Service a SAP Fiori Application

[2021-07-19 13:35] mervey45 commented on #499
Hi @sebasgoldberg ,

the tutorial I suggested (https://developers.sap.com/tutorials/abap-environment-abap-flp.html) is only doable in a licensed system. This functionality is not provided in the trial system. The ABAP trial systems are limited in their functionality. In the trial systems, you can only open your Fiori Launchpad app via the deployment link, like in tutorial: https://developers.sap.c

[2021-07-19 14:01] sebasgoldberg commented on #499
OK, no problem @mervey45.

And what about consuming it from BTP Fiori Launchpad Service?

Is it possible?

Thanks in advance.

[2021-07-20 06:06] jitendrakansal commented on #502
@pekiti we couldn't reproduce this issue in trial account.
Could you try creating a new dev space (SAP Mobile Applications) and then see if you are able a MDK project successfully?

[2021-07-20 14:36] #413 closed

[2021-07-20 14:37] ArchanaShukla commented on #414
Done, this is fixed now

[2021-07-20 14:37] #414 closed

[2021-07-20 14:41] ArchanaShukla commented on #495
this is fixed now

[2021-07-20 14:41] #495 closed

[2021-07-20 14:43] ArchanaShukla commented on #496
No the note is still relevant. You wither might not have 2FA enabled correctly, or you would have given the password as password+passcode in the destination.

[2021-07-20 14:51] ArchanaShukla commented on #505
You have to login to CF in the Business Application Studio to be ale to deploy successfully as mentioned in the note. There are many ways to connect to CF. You can use CF command line in studio or click function F1 and in wizard that opens, type login and follow the wizard

![image](https://user-images.githubusercontent.com/34297037/126345419-651e8e5e-cfa3-488c-b68c-9ef85428a091.png)

[2021-07-20 14:51] #505 closed

[2021-07-21 03:54] nathangov commented on #396
The service name is incorrect. Run this command instead:
`cf html5-list -di sap-btp-sapui5-dest-srv -u --runtime launchpad`

[2021-07-21 08:05] german-mesa opened #506 "Create a Simple IoT Device Model"
Tutorials: https://developers.sap.com/tutorials/iot-express-2-create-device-model.html
--------------------------

Write here how you think we can improve the tutorial ...

Hi there,

This link in prerequisites points nowhere:
"3. To be able to see the data created in this tutorial in SAP IoT, it is necessary to follow this guide for configuring the message processing of SAP Internet of Things."

[2021-07-22 01:58] AisonBird opened #507 "Set Up the SAP Launchpad Service"
Tutorials: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html
--------------------------

Got nothing when search launchpad in the marketplace.
should add launchpad service to entitlements first.

[2021-07-22 07:44] LindsayBert commented on #507
Hi - if you are not using a trial account, you need to set up your subaccount including entitlements. There is a link in the tutorial to a tutorial that will help you with this: https://help.sap.com/viewer/8c8e1958338140699bd4811b37b82ece/Cloud/en-US/fd79b232967545569d1ae4d8f691016b.html

Thanks
Lindsay

[2021-07-22 11:22] marcuscbehrens commented on #506
We will soon retire this tutorial. if you have a new subscription to SAP IoT with the "oneproduct" service plan then this does not apply to you anyway anymore.

[2021-07-23 02:09] masahiroo opened #508 "Create Sales Order App with SAP RAD by Mendix"
Tutorials: https://developers.sap.com/tutorials/mendix-salesorders.html
--------------------------
On the step 13, Studio pro 9.3.0 has a different header from the picture on the tutorial.
![image](https://user-images.githubusercontent.com/38098340/126728871-8404a4e3-53c5-4ad8-9bfb-36d2b65b41db.png)

When I click Publish, "SalesOrders210723-Development" application is deployed and started in my tr

[2021-07-23 06:16] sqjlin commented on #503
Hi Uwe, thanks for the detailed instructions, indeed that solved the issue. Thank you.

[2021-07-23 06:16] #503 closed

[2021-07-23 06:38] pekiti commented on #502
HI, you can close the ticket.
During my 2nd attempt I run into a new issue as the generator didn't offer me "Mobile Services" as ODataSource.
So, either the generator (BAT) has some "hick-ups" or the problem is sitting in front of the screen ;-)

[2021-07-23 06:38] #502 closed

[2021-07-23 06:41] jitendrakansal commented on #502
@pekiti regarding that you don't see "mobile services" option in the OData Source could be your CF token is no longer active Or has been expired.
please try this

navigating to View menu > Find Command> CF: Login to Cloud foundry to initiate a valid session and click Start Over.

[2021-07-23 08:33] MichaelCzcz commented on #386
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-23 08:33] #386 closed

[2021-07-23 08:34] MichaelCzcz commented on #396
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-23 08:34] #396 closed

[2021-07-23 08:35] MichaelCzcz commented on #405
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-23 08:35] #405 closed

[2021-07-23 08:35] MichaelCzcz commented on #418
@AstridHerbst Any updates?

[2021-07-23 08:36] MichaelCzcz commented on #435
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-23 08:36] #435 closed

[2021-07-23 08:36] MichaelCzcz commented on #444
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-07-23 08:36] #444 closed

[2021-07-23 10:49] FinkRiedelE opened #509 "Continue Your OData Exploration with EPM"
Tutorials: https://developers.sap.com/de/tutorials/odata-02-exploration-epm.html
--------------------------

Write here how you think we can improve the tutorial ...
Step4 needs to be updated

[2021-07-23 13:58] ncastagno-tgv opened #510 "Specs not found"
![Spec not found](https://user-images.githubusercontent.com/62354561/126792538-362cd80c-6212-468c-97b2-99aff84e7d5f.jpg)
 Stack trace:
INFO: @ui5/uiveri5 v1.46.4
INFO: Resolving specs
Error: No specs found
    at C:\Users\ncastagno\AppData\Roaming\npm\node_modules\@ui5\uiveri5\src\uiveri5.js:104:13
    at _fulfilled (C:\Users\ncastagno\AppData\Roaming\npm\node_modules\@ui5\uiveri5\node_modules\q\q

[2021-07-23 14:42] MichaelCzcz commented on #510
@ncastagno-tgv Hello. Can you please name the tutorial and step where you are facing this issue?

[2021-07-23 14:45] ncastagno-tgv commented on #510
https://developers.sap.com/de/tutorials/cp-cicd-systemtest-recorder.html
Step 3: Test the home screen

[2021-07-23 23:28] condamoor-sap opened #511 "Create Instance of SAP Event Mesh"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-instance-create.html
--------------------------

I think the way you create an Instance has changed.  Your tutorial shows creating the EM instance under a Space, but it now is available as a Subscription under the Subaccount.. and you go directly to the Instance after you subscribe. see attached screenshot.
Can you confirm and

[2021-07-24 01:02] condamoor-sap commented on #511
Ignore the above issue. My bad!
I got it all working.

Thanks
-ravi

[2021-07-26 00:46] krishmabhatia opened #512 "Extend the Bookstore with Custom Code"
Tutorials: https://developers.sap.com/tutorials/cp-cap-java-custom-logic.html
--------------------------
I am currently on step number 3, Test handler where when I executed sub-step no 7 "Create a new order item:" using post, stocks didn't get deducted by 2.Can you pls help me? Let me know in case anything else is needed.Attaching screenshots of post command and output for reference.
<img width="1

[2021-07-26 00:53] I501000 opened #513 "Create an Applicatimon for Producing Messages"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-nodejs-producing-app.html
--------------------------

Write here how you think we can improve the tutorial ...

please explain the parameter Domain in manifest . In the whole  tutorial , there is no explanation for domain. It is confusion .

[2021-07-26 01:14] krishmabhatia commented on #512
Adding orderItems created screenshot also.
<img width="1791" alt="order items created" src="https://user-images.githubusercontent.com/49376048/126920457-5562fcbf-3b9f-4941-9cae-7fabbf328862.png">

Regards,
Krishma

[2021-07-26 01:44] krishmabhatia commented on #512
Adding Order and OrderItems screenshot as well.
<img width="1791" alt="order final" src="https://user-images.githubusercontent.com/49376048/126922185-f3093e60-2b06-494b-a112-220c885e3928.png">
<img width="1787" alt="order items screenshot final" src="https://user-images.githubusercontent.com/49376048/126922205-0d63c100-e9ff-4ded-9fe9-0830fe692ae5.png">

[2021-07-26 06:39] sandeep-tds commented on #492
Hi @VanitaDhanagar, I've completed the test and can confirm that the options are available even in the US region.

[2021-07-26 09:17] pradeeppanda-sap commented on #511
Hi Ravi,
 You got it working is a good thing.
 However we need to accommodate those changes which you have mentioned.

Let this issue be open. I will change and close it.

regards
Pradeep

[2021-07-26 12:20] mervey45 commented on #499
Hi @sebasgoldberg ,

it is not possible.

Best regards,
Merve

[2021-07-26 12:20] #499 closed

[2021-07-26 18:46] condamoor-sap opened #514 "Send and Receive Test SAP Event Mesh"
Tutorials: https://developers.sap.com/tutorials/cp-enterprisemessaging-test-queue-sendreceive.html
--------------------------

In constructing the URL to get the access token, you had suggested to use
https://<***space name***>.authentication.sap.hana.ondemand.com/oauth/token
?grant_type=client_credentials&response_type=token

This is incorrect. The <**space name***> should be the Global account n

[2021-07-26 18:51] Utkarshk7 opened #515 "Add Automated System Tests with the SAPUI5 Test Recorder to Your CI/CD Pipeline"
I am on Step 6: Integrate your system tests into a CI/CD pipeline.
I followed all the steps and in Jenkins when I try to run the pipeline (sub step 7) using **Build Now**  , I get below error in the **Console Output**. Kindly provide some insights/help:

Running in Durability level: MAX_SURVIVABILITY
ERROR: Could not find any definition of libraries [piper-lib-os]
org.codehaus.groovy.control.Multi

[2021-07-26 21:02] Utkarshk7 commented on #515
I was able to fix this issue by providing reference to the library in Jenkins config settings.

[2021-07-26 21:02] #515 closed

[2021-07-26 21:10] Utkarshk7 opened #516 "Add Automated System Tests with the SAPUI5 Test Recorder to Your CI/CD Pipeline"
Tutorials: https://developers.sap.com/tutorials/cp-cicd-systemtest-recorder.html
--------------------------

I am on sub step 14 of step 6 - Integrate your system tests into a CI/CD pipeline.

I have followed the steps mentioned and also replaced the GIT URL. Please help!

When I choose **Build Now**, I get below errors -

+ git checkout master
Already on 'master'
[Pipeline] libraryResource
[Pipel

[2021-07-27 11:38] pradeeppanda-sap commented on #511
Hi Ravi,
 The management dashboard application related information on how to use it (yes, at sub account level) has been provided in [Create Queues and Queue Subscriptions for SAP Event Mesh](https://developers.sap.com/tutorials/cp-enterprisemessaging-queue-queuesubscription.html).
And the instance creation process of event mesh instance, as mentioned today, needs to be changed to accommodate new

[2021-07-27 11:38] #511 closed

[2021-07-27 12:29] NidhiMurkute commented on #496
As below in the screenshot, I have enabled TOTP 2FA for my user.
![image](https://user-images.githubusercontent.com/50734023/127153594-cbaa7fa7-e580-4c80-b2e4-edc91ee6b091.png)

So in the case of this scenario is that the Web 2FA should not be enabled as per the given note in tutorial?

[2021-07-27 14:12] condamoor-sap commented on #511
Hi Pradeep,
I figured that out after I opened the issue…That’s why I closed it as ‘my bad’.
Referring to both the Service and the Management dashboard app as just Event Mesh is definitely confusing. Fixing the naming will help.

Do you have any documentation or tutorial or blog on how to connect S4 On Prem (not S4 Cloud) to Event mesh? Most of what I see are around S4 Cloud.

Thanks
-ravi

From: P

[2021-07-27 14:29] pradeeppanda-sap commented on #511
https://community.sap.com/topics/event-mesh

This is one shop stop for Event Mesh related information.
You will get information on onPremise also.

Should you intend to have some more information, please send me a mail in pradeep.panda@sap.com

[2021-07-28 07:00] pradeeppanda-sap commented on #514
1. <space name> indeed is a mistake.
2.  getting the token endpoint from the service key is definitely a better approach.

Thanks a lot for helping me correcting the mistake.
Have updated. Should be merged and released today.

regards
Pradeep

[2021-07-28 07:00] #514 closed

[2021-07-28 19:59] iwonahahn commented on #485
Hi Daniel,
Thank you for your reply. As mentioned in my reply to the email I manually need to entitle the service. Maybe a note would be helpful in step 5?
Best regards,
Iwona

[2021-07-28 21:35] iwonahahn commented on #512
@beckermarc can you please have a look here?

[2021-07-28 21:38] iwonahahn commented on #494
Hi @sqjlin,

We haven't heard from you in a while, so we are closing the issue. If you still have questions, feel free to open a new issue.

Best regards,
Iwona

[2021-07-28 21:38] #494 closed

[2021-07-28 21:44] iwonahahn commented on #501
Hi @sqjlin,

We haven't heard from you in a while, so we are closing the issue. If you still have questions, feel free to open a new issue. In the meanwhile, we have updated the step description for step 5 and 7 and named the section (`resources` and `modules`) where to add the additional code lines in the `mta.yaml`.

Best regards,
Iwona

[2021-07-28 21:44] #501 closed

[2021-07-28 21:53] iwonahahn commented on #221
@MichaelCzcz the tutorials are outdated and also SAP CP is mentioned instead of SAP BTP. I will contact @SupriyaCherukunnathu via email asking if the tutorials are still relevant cause I handed them over 2 years ago and they were never updated so far. I feel responsible here to clarify this cause I was named as the author in all 10 IoT tutorials.

[2021-07-29 11:37] beckermarc commented on #512
Hi @krishmabhatia

did you make sure to restart the application after adding the code?
Can you please provide the startup output of the application after starting it through the run configuration?

Best regards,
Marc Becker

[2021-07-29 13:08] renejeglinsky opened #517 "Get Started with the SAP BTP Command Line Interface (btp CLI)"
Tutorials: https://developers.sap.com/tutorials/cp-sapcp-getstarted.html
--------------------------

I think in Step 4 it would be helpful to mention how to extract the tarball that is provided on the tools page. At least for windows users, this is probably not the most common archive to interact with. Windows natively supports to extract tarball as follows (in my case):

[code]
This command extra

[2021-07-29 13:29] annawenger20 commented on #517
Hi @renejeglinsky - thanks for the feedback. Please have a look at https://developers-qa.sap.com/tutorials/cp-sapcp-getstarted.html (update should be available in a few minutes) and let me know if my addition helps.
Best regards, Anna

[2021-07-30 10:47] MichaelPShea opened #518 "Set Up Trust Between Identity Authentication and SAP Cloud Platform"
Tutorials: https://developers.sap.com/tutorials/abap-custom-ui-trust-settings.html
--------------------------

The tutorial uses the old product name for SAP Cloud Platform (now SAP BTP) and SAP Cloud Platform Identity Authentication (now SAP Cloud Identity Services -- Identity Authentication).

[2021-07-30 11:22] sbpgit commented on #242
Hi ,

I have created the calculation with the same process as mentioned in the blog.

Below are the steps created for Calculation View.
1. Calculation view products is created in db->src  - deployment successful
2. i have generated the entity for Calculation View using hana-cli inspectView -v products -o cds
3. Service has been created in SRV folder

But while exposing as a cap service it is throw

[2021-07-30 11:23] ttulja opened #519 "Create Calculation View and Expose via CAP (SAP HANA Cloud)"
Hi ,

I have created the calculation with the same process as mentioned in the blog.

Below are the steps created for Calculation View.

    Calculation view products is created in db->src - deployment successful
    i have generated the entity for Calculation View using hana-cli inspectView -v products -o cds
    Service has been created in SRV folder

But while exposing as a cap service it is th

[2021-07-30 11:24] ttulja commented on #242
Hi ,

I have created the calculation with the same process as mentioned in the blog.

Below are the steps created for Calculation View.

    Calculation view products is created in db->src - deployment successful
    i have generated the entity for Calculation View using hana-cli inspectView -v products -o cds
    Service has been created in SRV folder

But while exposing as a cap service it is th

[2021-07-30 12:30] jung-thomas commented on #242
Answering in the separate issue here https://github.com/SAPDocuments/Issues/issues/519

[2021-07-30 12:31] jung-thomas commented on #519
Could you perhaps share some screenshots of your project and content.  Most likely culprit is some misspelling, but we can't help you diagnose that if we can't see the content in your project.  Also do you get this error when you do the deploy to HANA or when you do the cds run?

[2021-07-30 12:56] ttulja commented on #519
Thanks for the response.
Below are few screenshot of project content
•	Products.hbdcalculationview is the view created and in container I can see products in “Columns Views” with data

![image](https://user-images.githubusercontent.com/49712221/127655941-9a2bc48b-ef83-4e6d-9d3b-1aadd3e0d4bd.png)

•	In db folder->schema.cds

![image](https://user-images.githubusercontent.com/49712221/127655812-79fa

[2021-07-30 13:01] mion-snl opened #520 "Develop a Business App Using SAP Business Application Studio"
Tutorials: https://developers.sap.com/tutorials/appstudio-cap-app.html
--------------------------

**Step 3: Define bookshop service**

There seems to be a typographical error in the CDS code that the developer is supposed to copy which causes the following error during runtime:

Basically this line:
`    action submitOrder (book : Books.ID, amount: Integer);`

The reference to the Book ID should

[2021-07-30 13:17] jung-thomas commented on #519
So what tutorial is this?  I don't see entity names I recognize.  But it appears your problem is case sensitivity.  CAP Is case insensitive, but HANA artifacts are not.  You created you calculation view in lower case. Therefore the CAP Proxy entity can't see it. Either change the name of the calculation view to be all upper case or you will need to put a synonym on top of it.  You will have the sa

[2021-07-30 13:17] #519 closed

[2021-07-30 13:36] davidsmith288 opened #521 "Continue Your OData Exploration with EPM"
Tutorials: https://developers.sap.com/tutorials/odata-02-exploration-epm.html
--------------------------

Write here how you think we can improve the tutorial ...

The tutorial is not working.

In response to

https://sapes5.sapdevcenter.com/sap/opu/odata/sap/EPM_REF_APPS_SHOP_SRV/Products('HT-1001')

I get this error message
<error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/meta

[2021-07-30 13:54] klickerlebnis opened #522 "Build Your First FAQ Chatbot"
Tutorials: https://developers.sap.com/tutorials/conversational-ai-faq-chatbot-beginner.html
--------------------------

The question in step 7 is not up to date anymore.

What is the question that has 51% confidence? instead of What is the question that has 37% confidence?
Answer: What is a trigger?

You could also update this sentense:
For the first question, the bot was 99% sure, so it showed th

[2021-07-30 15:18] ttulja commented on #519
Thanks for the inputs , it worked.

Regards,
Thulja

[2021-07-31 00:30] tbh0502 opened #523 "Create an ABAP Core Data Services (CDS) View in SAP Cloud Platform, ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-environment-create-cds-mde.html
--------------------------

Write here how you think we can improve the tutorial ...
In Step 6: Create service binding, the Binding Type = ODATA V2 (UI…) is suggested.
But the UI annotation didn't work when the bingding type is OData V2 UI in preview.
However, the UI annotation can work when he bingding type is OD

[2021-08-01 12:05] Paolaufer commented on #520
HI!

Thank you for bringing this to our attention!! I've fixed it and will republish soon.

[2021-08-01 12:05] #520 closed

[2021-08-01 18:59] russellw999 opened #524 "Explore Visualization Options for Spatial Data in SAP HANA Cloud"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-smart-multi-model-1.html
--------------------------

Write here how you think we can improve the tutorial ...

Step 2 :
      Point 4:   Create a user and Assign the privileges ...... if you have forgotten how to create a
                       user you can read more here ?????
                       < There is no link to show where you cr

[2021-08-02 06:57] qmacro commented on #521
Hi @davidsmith288 - there are a couple of things here:

1. if the specific product (HT-1001) cannot be found, you can just pick another one - there's a note to this effect directly after the URL that gives HT-1001 as an example ("_If there isn’t a product entry with this specific ID, you can choose another one - the IDs follow a similar pattern._")
2. there does seem to be a general database issue

[2021-08-02 06:57] #521 closed

[2021-08-02 07:15] qmacro commented on #509
Hi @FinkRiedelE - can you please expand on how you think the step should be updated? Thanks.

[2021-08-02 10:03] krishmabhatia commented on #512
Hi @beckermarc ,

Yes, I did that and even today again I tested by creating new order ending with 08 but still stock is not getting reduced by 2.
PFA startup output of the application after starting it through the run configuration.

Let me know in case you need anything else. Also, I am not sure but I am not getting any notification or mail of the replies sent by you and your team even though my

[2021-08-02 10:26] VijayKrishnanSR commented on #524
Hi Russell,
Thank you for pointing it out for us. We had initially planned to use another link for these instructions, but that content is in the process of being migrated into a tutorial. For the time being, we will update using the link to GitHub sample data- getting started instructions (as you have mentioned). We will get back to you once we have added the links.
Let us know if you have any ot

[2021-08-02 15:56] greg2git opened #525 "Connect Using the SAP HANA Go Interface"
Tutorials: https://developers.sap.com/tutorials/hana-clients-golang.html
--------------------------

Hi Dan,

any plans to provide instructions on how to install Hana client for Go? (cp -r ~/sap/hdbclient/golang/src/SAP $HOME/go/src/) your code assumes the client is already installed in linux but the https://tools.hana.ondemand.com/#hanatools don't have Go-specific installation instructions.
other

[2021-08-03 03:42] krisho007 opened #526 "Build OData Queries with the SAP Cloud SDK's Virtual Data Model"
Tutorials: https://developers.sap.com/tutorials/cloudsdk-js-vdm-getall.html
--------------------------

In step 5, the tutorial suggests to hard code user id and password. Is this a recommendation even in productive systems? If not, tutorial should clearly mention that and specify what is the approach in non-PoC scenarios.

[2021-08-03 11:58] becrazy76 opened #527 "Continue Your OData Exploration with EPM"
Tutorials: https://developers.sap.com/tutorials/odata-02-exploration-epm.html
--------------------------
**Which of these are sub categories for the Computer Systems main category?**
Computer systems seems not to be present any longer. Not able to answer this question. Will try out which one it was. ;)

[2021-08-03 12:00] becrazy76 commented on #509
Explanation can be found here: https://github.com/SAPDocuments/Issues/issues/527

[2021-08-03 14:45] qmacro commented on #527
There have been some low-level db issues with the EPM OData service used in this tutorial, which have been fixed today. But the data is rather different, isn't it? I wasn't expecting that :-) I'll contact support to look into where these data changes are coming from. Thanks for bringing this to my attention!

[2021-08-03 19:13] ttulja commented on #519
Hi Thomas,

Thanks for the help on Calculation views and I am facing one more issue in deployment need your help on this.
1. While deploying "Deploy MTA Archive" it shows Some instances have crashed.
![image](https://user-images.githubusercontent.com/49712221/128071566-45b54895-8ecd-4276-8351-d41a69bff1df.png)

2. I checked in logs in DEV space.
![image](https://user-images.githubusercontent.com/4

[2021-08-03 19:19] jung-thomas commented on #519
This is not the correct forum to request general support or ask questions which aren't directly related to content in a tutorial. Consider using the SAP Community Q&A to ask questions of your fellow community members.

[2021-08-04 06:37] becrazy76 commented on #527
Checked this morning and it is back :)
![image](https://user-images.githubusercontent.com/8298499/128133543-8a99c380-fe72-4677-b876-5f9281259f15.png)

[2021-08-04 08:50] qmacro commented on #527
Nice one @becrazy76 - thanks for following up. We're still investigating what happened here, but I'm glad the data is back to what it should be for now. Happy learning!

[2021-08-04 08:50] #527 closed

[2021-08-04 10:50] Vrum89 opened #528 "Call a Remote Function Module From SAP Business Technology Platform (BTP), ABAP Environment"
Tutorials: https://developers.sap.com/tutorials/abap-env-rfc.html
--------------------------

You should change the initial password. It's 'manage' not 'Manage'
I found the solution on [https://help.sap.com/viewer/cca91383641e40ffbe03bdc78f00f681/Cloud/en-US/db9170a7d97610148537d5a84bf79ba2.html](url)

Thanks for your guide.
It is essentials for upgrading my career to do not a "Simply" Abapers :)

[2021-08-04 11:46] Fomka opened #529 "Configure Business Rules, Workflow and Process Visibility"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
--------------------------

There is a mismatch between the tutorial and actual data. The tutorial says "Click Connectivity | Destinations from the left-hand navigation and search for the destination with name BUSINESSRULES_APIHUB" and shows a screenshot where BUSINESSRULES_APIHUB destination has au

[2021-08-04 13:30] ArchanaShukla commented on #529
Hello Fomka,
I tried in multiple accounts in trial and for all accounts in AWS and Azure, its showing correctly. Can you delete this destination run the Booster again, and let me know if you still see this issue. Also let me know which trial data center you are logged in?

[2021-08-04 13:40] qmacro commented on #509
Ah, so this is likely the same issue - thank you @becrazy76 :-) @FinkRiedelE I'll assume you were referring to the rogue data that suddenly appeared in the OData service. It's back to normal now. Cheers!

[2021-08-04 13:40] #509 closed

[2021-08-05 03:13] thanasitv opened #530 "Bundle Sensor Data in SAP Data Intelligence, Trial Edition"
Tutorials: https://developers.sap.com/tutorials/dataintelligence-trial-v2-pipelines-part03.html
--------------------------

Write here how you think we can improve the tutorial ...

I can not find JS String Operator from SAP Data Intelligence, trial edition 3.1 from
(Deploy from Cloud Appliance Library to MS Azure kubernetes)

I tried to use Javascript(v2) Operator and put the code in this operato

[2021-08-05 03:14] thanasitv commented on #530
![ProcessDeadWithErrMsg](https://user-images.githubusercontent.com/31183618/128285246-1926ba83-631e-418c-bd6a-d7eb18c7ac47.png)

[2021-08-05 05:31] zjhua2002 opened #531 "Get Started with the SAP BTP Command Line Interface (btp CLI)"
Tutorials: https://developers.sap.com/tutorials/cp-sapcp-getstarted.html
--------------------------

About step: "Step 11: Enable command autocompletion", there is a typo about this command line.

From BTP Help (CLI: btp --help), the correct one would be:
btp enable autocomplete SHELL

[2021-08-05 06:59] MichaelCzcz commented on #482
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-08-05 06:59] #482 closed

[2021-08-05 07:54] iwonahahn commented on #221
All tutorials will be reviewed and the colleagues will get back here asap.

[2021-08-05 14:17] florian-richter commented on #526
Hi @krisho007,
thanks for reporting this issue with our tutorial. The hardcoded credentials are not intended for productive use. We will adjust the tutorial accordingly and let you know once a new version is published.

[2021-08-05 14:52] thanasitv opened #532 "Store Sensor Data in SAP HANA in SAP Data Intelligence, Trial Edition"
Tutorials: https://developers.sap.com/tutorials/dataintelligence-trial-v2-pipelines-part04.html
--------------------------

Write here how you think we can improve the tutorial ...

Follow the step,  Schema is created. And see columns, but no data for SAP Hana in Data Preview

![4_MS_Azure_Storage_HasData](https://user-images.githubusercontent.com/31183618/128371113-6ef0d1ee-d2cd-45e3-a904-6b96988

[2021-08-05 14:59] thanasitv commented on #532
SAP HANA Client configuration

![SAP_HANA_Client_Config_4](https://user-images.githubusercontent.com/31183618/128372335-2bc4be76-5c57-42fe-8ae4-039bda519781.png)
![SAP_HANA_Client_Config_3](https://user-images.githubusercontent.com/31183618/128372348-19004aec-ae0f-4b53-b19d-4ab03af70ab5.png)
![SAP_HANA_Client_Config_2](https://user-images.githubusercontent.com/31183618/128372355-290467f8-8c2a-47c5

[2021-08-05 14:59] thanasitv commented on #532
SAP HANA Client configuration

[2021-08-05 15:11] dzmitryburiak opened #533 "Add the SAP Launchpad Service - Issue with Server Module Destination"
Tutorials: https://developers.sap.com/tutorials/btp-app-launchpad-service.html
--------------------------

Hi Colleagues,

I'm trying to follow the steps of the tutorial to implement the same scenario in my application. I can see application tile in my Launchpad after performing all the steps, but it seems application router managed by Launchpad service doesn't see the destination of the server mo

[2021-08-05 19:19] danielva commented on #525
The assumption is that the user has installed the HANA Client and there is a pre-requisite to have completed the first three tutorials in the mission (the second tutorial covers the installation).  I did try it today and the steps are pretty much the same.  I did notice that for GO 1.16 you need to set an additional environment variable.
export GO111MODULE=auto.
I will update the tutorial to menti

[2021-08-05 19:19] #525 closed

[2021-08-06 07:13] je-hal commented on #377
Hi @IObert, as already explained by email I am no longer maintaining these tutorials.

I reached out to my manager to find a solution.

[2021-08-06 07:13] je-hal commented on #256
Hi @IObert, as already explained by email I am no longer maintaining these tutorials.

I reached out to my manager to find a solution.

[2021-08-06 07:15] MichaelCzcz commented on #506
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-08-06 07:15] #506 closed

[2021-08-06 12:02] uwe-klinger commented on #533
Hi Michael,

I couldn't find any issue in your MTA. I think, that the 404 indicates either a problem in the xs-app.json of the UI application (route doesn't point to service) or your path is wrong or wrongly mapped in the xs-app.json.  If the destination doesn't work you'll get a 503 if I remember correctly. The easiest way to find it out is to look at the logs of the CAP service. With that you ca

[2021-08-06 12:29] dzmitryburiak commented on #533
Hi Uwe,

Thanks a lot for your reply!

I have already checked logs and my server module is not called at all, that's why I cannot see any logs with cf logs.However it works fine with my pwn application router and I can see logs in that case.

I have attached xs-app.json located in my HTML5 module.

Can you please take a look?
[xs-app.txt](https://github.com/SAPDocuments/Issues/files/6945479/xs-app

[2021-08-06 15:11] AndyGla opened #534 "Deploy Your Application with Access Control (SAP HANA Cloud)"
Tutorials: https://developers.sap.com/tutorials/hana-cloud-cap-add-auth-deploy.html
--------------------------

Dear Marius,

first of all, thank you for you great work doing tutorials on CAP :-D

There is a problem with steps 4 an 5 in this tut - or at least I have a problem:

Step 4: Make the Fiori app deployment-ready

There is no xs-app.json file in my project.
Can you maybe send me the github

[2021-08-07 06:00] gurudevendranath opened #535 "Create a Graphical View in SAP Data Warehouse Cloud"
Tutorials: https://developers.sap.com/tutorials/data-warehouse-cloud-7-graphicalview.html
--------------------------

Step 4 doesn't accepts any answer as correct.There should be one answer as correct.But none answer is accepted as correct.

Thanks.

[2021-08-08 06:33] Paolaufer commented on #508
Hi Masahiro,
Sorry for the delay in my reply.
I am looking into it and will get back to you soon.
Regards,
Pao

[2021-08-09 05:48] uwe-klinger commented on #533
Hi Michael,

I don't see an issue here. Maybe it requests the wrong path. It should be /<namespace-without-dots>.<id-without-dots>/odata/...

For that the leading "/" needs to be removed from the service in the UI5 apps `manifest.json` file which is done by the `fiori add deploy-config cf` command.

Best regards,
Uwe

[2021-08-09 07:14] beckermarc commented on #512
Sorry for the late reply. Can you please attach the full startup output as a text file, not as a screenshot. The relevant parts that I wanted to check are unfortunately not visible in the screenshot you attached here.

Regarding notifications: This depends on your GitHub notification settings I guess, which you can customize in the account settings of GitHub.

[2021-08-09 07:35] dzmitryburiak commented on #533
Hi Uwe,

Thanks! I've tried to remove "/" in manifest.json to make path to the service like this:

`    "mainService": {
                "uri": "/odata/v2/NegotiationService/",
                "type": "OData",
                "settings": {
                    "annotations": [
                        "annotation"
                    ],
                    "localUri": "localService/metadata.xml"

[2021-08-09 08:57] IObert commented on #534
Hi @AndyGla,

Thanks, I'm glad you enjoy this content. And thanks for your feedback.

In case you don't see the `xs-app.json`, this might mean you missed a substep when the project has been generated. This doesn't have to be a big problem but it could mean other files are missing too. Please make sure you have all the needed files.

Regarding the snippet: Yes, I was thinking about adding snippets

[2021-08-09 11:56] AndyGla commented on #534
Hi @IObert

thank you for your detailed answer.

Just doing it fresh from scratch and there is the xs-app.json :-D

Regards

Andy

[2021-08-09 11:56] #534 closed

[2021-08-09 13:33] klickerlebnis opened #536 "Deploy Your First SAPUI5 App"
Tutorials: https://developers.sap.com/tutorials/appstudio-sapui5-create.html
--------------------------

In step 5.4 this command shows for me the list of urls:

cf html5-list -di sap-btp-sapui5-dest-srv -u --runtime launchpad

instead of
cf html5-list -di sap-btp-sapui5-destination-service -u --runtime launchpad

Best regards
Dominik

[2021-08-09 14:37] klickerlebnis opened #537 "Deploy Your First SAPUI5 App"
Tutorials: https://developers.sap.com/tutorials/appstudio-sapui5-create.html
--------------------------

Hi Conrad,

In Step 6 you might add the helpful info, to replace cpp with launchpad in the url.
https://xxxxxxtrial.cpp.cfapps.eu10.hana.ondemand.com/
https://xxxxxxtrial.launchpad.cfapps.eu10.hana.ondemand.com/

It would be helpful. The runtime flag had no effect for me.

[2021-08-10 05:20] AbdullahChougle opened #538 "Set Up the SAP Launchpad Service - Subscription or Service Instance?"
Tutorials: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-getting-started.html
--------------------------

Write here how you think we can improve the tutorial ...

In my sub account, I have added the Launchpad Service (scp-launchpad). However, when I try to follow the step 1. of the launch pad service exercise in my account, I am asked to create a service instance and not a subscrip

[2021-08-10 06:10] FarozanFarman opened #539 "Create an SAP BTP ABAP Environment Trial User"
**Tutorials:** https://developers.sap.com/tutorials/abap-environment-trial-onboarding.html
--------------------------
**Issue:** Screenshot Update required.
**Steps to reproduce:**
Step 3: Create ABAP cloud project
2. Select Use Cloud Foundry Environment and click Next >.
Here Screenshot needs to be changed.

**Expected Result:**
![image](https://user-images.githubusercontent.com/71028764/12881548

[2021-08-10 06:54] raz-korn commented on #537
Hi @klickerlebnis ,

Supporting the runtime flag is planned for an upcoming release of BAS.
Meanwhile, there's a need to update the URL, as you mentioned.

Regards - Raz

[2021-08-10 07:12] LindsayBert commented on #538
Hi

Did you check that you have the correct quotas and entitlements assigned?
Have you followed all the steps in this topic that is a prerequisite when using a global account: [Initial Setup](https://help.sap.com/viewer/8c8e1958338140699bd4811b37b82ece/Cloud/en-US/fd79b232967545569d1ae4d8f691016b.html)

Thanks Lindsay

[2021-08-10 07:29] rashidabdulrahiman commented on #535
The issue has been fixed. Thanks!

[2021-08-10 07:29] #535 closed

[2021-08-10 08:36] mervey45 commented on #539
Hi @FarozanFarman ,

you get the expected result, when you use Eclipse with the ADT plugin. But if you use ADT, then it looks like in your screenshot.

Best regards,
Merve

[2021-08-10 08:36] #539 closed

[2021-08-10 10:14] i353590 opened #540 "Req. Product details - Activation of Capabilities failing - US region"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
Step 3: Provision the capabilities
Issue: Both the capabilities - API management and Cloud Integration are failing to activate.

![image](https://user-images.githubusercontent.com/66831161/128849580-318f6914-d0d5-498d-8726-3d092b2dfd58.png)

Please check the issue.

Thanks,
Shubham

Labels to be ad

[2021-08-10 10:16] FarozanFarman commented on #539
Hi Merve,

Yes, last time I used eclipse, there I got the expected screenshot. But as per the tutorial, we should use ADT, hence the screenshot must be adapted, right?
![image](https://user-images.githubusercontent.com/71028764/128850003-8df234cf-2eb7-4573-bf08-431b3e041a10.png)

Regards,
Farozan

[2021-08-10 10:19] i353590 opened #541 "Req. Product Details - Cloud Integration Activation Failing - EU region"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
Step 3: Provision the capabilities
Issue: The provisioning of the Cloud Integration capability is failing.

Screenshot:
![image](https://user-images.githubusercontent.com/66831161/128850342-cc505a3e-791d-4ef4-b0aa-8b96b5bcd5b1.png)

Please check the issue.

Thanks,
Shubham

Labels to be added:
Spri

[2021-08-10 10:23] i353590 opened #542 "Req. Product Details - API portal provisioning issue - AP region"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
Step 5: Verify the activated capabilities
Issue: After both the capabilities are active and the boosters are executed, we should be able to access them both. But I can't access API Portal. It is running into the error and says there is a temporary problem provisioning your account. (In AP region)

[2021-08-10 10:35] mervey45 commented on #539
Hi @FarozanFarman ,

thank you for this feedback. I need to update the first tutorial. It is better to use Eclipse with the ADT plugin. But of course ADT also works also fine.

Best regards,
Merve

[2021-08-10 11:01] VanitaDhanagar commented on #492
Hi @sandeep-tds   ,In our current validation(CW32) issue is not persist .

Thanks and Regards,
Vanita

[2021-08-10 11:02] VanitaDhanagar commented on #493
@sandeep-tds ..The note is available

Regards,
vanita

[2021-08-10 11:17] FarozanFarman commented on #539
Hi @mervey45 ,

Ok, please let me know once updated. Also, can you give me a tentative date by when it will be updated so that I can check from my side too?

Thanks and Regards,
Farozan

[2021-08-10 11:57] i353590 opened #543 "Req. Product Details - Screenshot not loading"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-integration-cpi-design-iflow.html
Step 1: Access your Cloud Integration workspace

the attached Screenshot is not loading. Please refer to the screenshot:
![image](https://user-images.githubusercontent.com/66831161/128862521-78d091ee-7478-45a5-939a-99a944db438d.png)
Please check the issue.

Thanks,
Shubham

Labels to be added:

[2021-08-10 12:09] i353590 opened #544 "Req. Product Details - Screenshots Update with new Account explorer feature"
Hello,

Tutorial Link: https://developers.sap.com/tutorials/cp-starter-isuite-onboard-subscribe.html
Step 1: Enter your trial account
Sub-step: 3, 4 & 5:
Issue: all these screenshots need to be updated from steps 3-5 after the latest UI changes. Also, the statements will also need to be rephrased in some places.

New screenshots:
![image](https://user-images.githubusercontent.com/66831161/12886393

[2021-08-10 12:57] jacobahtan opened #545 "Test the Business Rules API from SAP API Business Hub"
Tutorials: https://developers.sap.com/tutorials/cp-cf-businessrules09-test-apis.html
--------------------------

payload doesn't tally with the sample code snippet.
company should be ACE_USA, not "2000"

[2021-08-10 13:08] YogithaC commented on #477
The java download should be done on the site. It's an external page.
Updated the content related to the selection

[2021-08-10 13:08] #477 closed

[2021-08-10 13:09] YogithaC commented on #498
Updated links

[2021-08-10 13:09] #498 closed

[2021-08-10 13:09] YogithaC commented on #483
Updated

[2021-08-10 13:09] #483 closed

[2021-08-10 13:10] YogithaC commented on #481
This doesn't affect the build and does not affect while running app too. But, dev will fix it.

[2021-08-10 13:10] #481 closed

[2021-08-10 13:10] YogithaC commented on #480
Updated

[2021-08-10 13:10] #480 closed

[2021-08-10 13:11] YogithaC commented on #479
Updated

[2021-08-10 13:11] #479 closed

[2021-08-10 13:12] YogithaC commented on #478
Exlipse oxygen version has teams options. Window > Preferences > Team > Git > Configuration.

Probably a different version of eclipse was used. As we have mentioned to use oxygen, these are the options available.

[2021-08-10 13:12] #478 closed

[2021-08-10 13:47] shivakumar-p-sap opened #546 "Build and Deploy Your SAP Fiori App to SAP Business Technology Platform"
Tutorials: https://developers.sap.com/tutorials/appstudio-fioriapps-mta-build-deploy.html
--------------------------
In step 3 the last screenshot can be removed. Its not showing the popup with message "Task 'Deploy MTA Archive(/)' was terminated by signal SIGPIPE". Also it prompts to select ORG and Space after selecting "Deploy MTA Archive".

Regards,
Shivakumar P

[2021-08-10 14:02] klickerlebnis opened #547 "Add a Web Dynpro ABAP App to Your Launchpad Site"
Tutorials: https://developers.sap.com/tutorials/cp-portal-cloud-foundry-webdynpro-app.html
--------------------------

The final question might be wrong. I thought the answer is Role editor and Group editor and not Role, Group and App.
Which tools will you use to configure your Web Dynpro app so that users can see it and launch it from your launchpad site?
App editor
Provider Manager
**Role editor

[2021-08-10 14:05] klickerlebnis commented on #536
A little hint or description in the tutorial might be sufficient and helpful till new version/ enhancement of the tool.

[2021-08-10 14:50] PriyankaShivakumar opened #548 "Screenshot for the Global account page has to be changed"
Tutorials: https://developers.sap.com/tutorials/cp-starter-ibpm-employeeonboarding-2-configure.html
Step 1: Configure API Business Hub destination
--------------------------
**Issue**: Screenshot has to be changed.
Expected:
![image](https://user-images.githubusercontent.com/65999547/128888710-e80fcb16-eb1f-4b04-9014-e5368b536b16.png)

Actual:
![image](https://user-images.githubusercontent.com/659

[2021-08-11 05:18] sandeep-tds commented on #493
Thank you for the confirmation Vanita. I am closing the ticket.

[2021-08-11 05:18] #493 closed

[2021-08-11 06:44] dzmitryburiak commented on #533
Hi Colleagues,

Any more ideas what might be wrong?

[2021-08-11 07:02] Karunaharan commented on #543
@MichaelCzcz - could you please help me resolving the issue? I'm not sure what I missed in the .md file?

[2021-08-11 07:17] MichaelCzcz commented on #543
@Karunaharan Simply remove the indentation for the image.

[2021-08-11 07:24] Karunaharan commented on #543
Thank you @MichaelCzcz

@i353590 - the issue is fixed now. Will be published very soon.

[2021-08-11 07:24] #543 closed

[2021-08-11 08:17] hmanchev commented on #516
Hi,

I don't think there is reading from yaml file in the tutorial.

Several possible solutions can be:
1. Proper configuration of Jenkins
2. Proper installation and configuration of SAP Project Piper

To be able to help you further, I will need ot take a look at your pipeline, so paste it here if possible.

[2021-08-11 08:24] mounikat987 opened #549 "Deploy a CAP Business Application to SAP Business Technology Platform"
Step 3: Deploy using cf push
4.Open this URL in the browser and try out the provided links, for example, .../catalog/Books

Issue:  The deployed application my-bookshop-srv is not able to load the data

**Description:**

When we try to hit the url "https://my-bookshop-srv-shiny-capybara-qq.cfapps.us10.hana.ondemand.com/catalog/Books",
it throws  503 "service unavailable" error.

Please find logs o

[2021-08-11 08:51] VanitaDhanagar opened #550 "Create A New Welcome Card"
Tutorials: https://developers.sap.com/tutorials/cp-mobile-cards-welcome.html
--------------------------

Step2

Point 6 : Go through the details mentioned and click Start.

Screenshot need to be updated  as below.

![image](https://user-images.githubusercontent.com/80330660/128999214-d0edc92b-ee3f-41bb-b9c8-26d7e3cc51c9.png)

Labels to add :
prio: Low
Sprint Label: SCPTest-2108A
Scenario Label: SC

[2021-08-11 10:03] Karunaharan commented on #544
Hi @i353590 - as discussed, the screenshots of sub steps 3 & 4 are right for a new user of BTP. The step 1 of the tutorial is currently  targeted at such new users. For existing users of BTP (which your screenshots match with), instructions are provided in the tutorial without images.

For sub step 5, I have updated the image as suggested. Will publish the changes soon.

Thanks,
Karuna

[2021-08-11 10:03] #544 closed

[2021-08-11 20:39] cjbernal commented on #536
Hi Dominik,

Thank you for pointing this out. I am currently working with the product team to figure out the best way to get the required change into the tutorials.

Kind regards,
Conrad

[2021-08-12 06:17] i353590 commented on #544
Hello @Karunaharan

Thanks for the fix. So the initial screenshots will continue to be as is.
Thanks,
Shubham

[2021-08-12 11:37] raz-korn commented on #546
Thanks, @shivakumar-p-sap ,
I updated the tutorial.
The update should be available soon.

Regards - Raz

[2021-08-12 11:37] #546 closed

[2021-08-12 12:22] LindsayBert commented on #547
Hi - thanks - you are correct and I've fixed it.  The app editor was also checked and I removed it.

Thanks
Lindsay

[2021-08-13 06:10] Karunaharan commented on #542
Hi @i353590 - there was a known outage with the trial system which is resolved. Kindly proceed with your testing.

[2021-08-13 06:10] Karunaharan commented on #540
Hi @i353590 - there was a known outage with the trial system which is resolved. Kindly proceed with your testing.

[2021-08-13 06:10] Karunaharan commented on #541
Hi @i353590 - there was a known outage with the trial system which is resolved. Kindly proceed with your testing.

[2021-08-13 06:10] #541 closed

[2021-08-13 08:37] i353590 commented on #543
The screenshot is still not loading.
if the change is not pushed yet, by when can we expect the fix.?

thanks,
Shubham

[2021-08-13 08:48] Karunaharan commented on #543
Hi, yes the change is not pushed yet. Waiting for other feedback from you/your team, if any.

[2021-08-13 17:39] mfadili opened #551 "Add the SAP Launchpad Service"
Tutorials: https://developers.sap.com/tutorials/btp-app-launchpad-service.html
--------------------------

At STEP 10, the following command fails:

info Add:Deploy-config Using: @sap/fiori:deploy-config
info Add:Flp-config Using: @sap/fiori:flp-config
Fiori tools CLI.
Adding deploy-config to the project.
? Destination name cpapp-app-srv
node:events:371
      throw er; // Unhandled 'error' event

[2021-08-14 01:39] chatterjeeg opened #552 "Extend the Built-In OData Features with Custom Code"
Tutorials: https://developers.sap.com/tutorials/odata-07-extend-custom-code.html
--------------------------
In the piece of code below Products should be in quote as in 'Products'.

srv.on('TotalStockCount', async (req) => {
        const items = await cds.tx(req).run(SELECT.from(Products))
        return items.reduce((a, item) => a + item.UnitsInStock, 0)
    })

[2021-08-14 13:59] i353590 commented on #542
Hello @Karunaharan ,

Now the provisioning of the Cloud Integration itself is failing in AP region.
Please re-open the ticket and help with the fix.

Kind Regards,
Shubham

[2021-08-14 14:03] i353590 commented on #540
Hello @Karunaharan,

The provisioning of API management is still failing in US region. Though, the CI gets activated now, but API still fails.
Please re-open the ticket.

Best Regards,
Shubham A

[2021-08-14 21:48] wsantanacrm opened #553 "Tour the SAP Community"
Tutorials: https://developers.sap.com/tutorials/community-start.html
--------------------------

Write here how you think we can improve the tutorial ...

The step 10 is bug!

[2021-08-16 00:35] mata-r opened #554 "Create Workflow (part 1), Enrich Data With Data Transform in SAP Data Intelligence, Trial Edition"
Tutorials: https://developers.sap.com/tutorials/dataintelligence-trial-v2-workflow-part01.html
--------------------------

This tutorial is referencing deprecated objects, like "Spark Data Transform" the problem is that the new object is incompatible; in this example new "Data Transform" operator needs a "table" type; if you follow this tutorial, you don't get this input. You could say the tutoria

[2021-08-16 07:07] qmacro commented on #552
Hi @chatterjeeg I think you may have missed the note next to that usage of `Products` :-)

<img width="629" alt="screenshot 2021-08-16 at 08 07 16" src="https://user-images.githubusercontent.com/73068/129524617-024de822-02b7-46b6-b8ff-f28206b40968.png">

[2021-08-16 07:07] #552 closed

[2021-08-16 08:09] VandanaVasudevan commented on #545
Hi @jacobahtan,

When the company is ACE_USA, there is different equipment assigned to the employee. 2000 is just a sample value given to hit the decision table row with the logic for companies other than ACE_USA.
For better understanding, I will change the company name to a string value in the code snippet. Thanks a lot for your valuable feedback.

Best Regards,
Vandana

[2021-08-16 11:58] klickerlebnis opened #555 "Display Data from the Northwind Service"
Tutorials: https://developers.sap.com/tutorials/sapui5-fiori-cf-display-data.html
--------------------------

In step 7.3 the screenshot should show the detail page
![image](https://user-images.githubusercontent.com/37261568/129560149-3aaf54b9-10e1-4bde-969d-62d5b47b623c.png)

Just my two cents,
Dominik

[2021-08-16 15:46] klickerlebnis opened #556 "Deploy the Fiori App to Cloud Foundry"
Tutorials: https://developers.sap.com/tutorials/sapui5-fiori-cf-deploy.html
--------------------------

In step 3 it might be that the "cf html-5 plugin" has to be installed. In the Web IDE this is already done, but not on our local machines. I have done that installation via the installation instructions on page https://github.com/SAP/cf-html5-apps-repo-cli-plugin

Maybe a hint and a link would b

[2021-08-16 17:03] wilmansantiago opened #557 "Call SAP API Business Hub API from a SAPUI5 Application"
Tutorials: https://developers.sap.com/tutorials/hcp-abh-api-ui5-app.html
--------------------------

I have followed the steps and the system not load the data:

![image](https://user-images.githubusercontent.com/81112886/129601625-ff70f101-c8a6-473c-b295-79eca8426761.png)

[2021-08-17 08:03] Sri129225 opened #558 "Build Your First FAQ Chatbot"
Tutorials: https://developers.sap.com/tutorials/conversational-ai-faq-chatbot-beginner.html
--------------------------

Write here how you think we can improve the tutorial ...

On testing with the csv file given the tutorial, no question had confidence of 37%. But this was the question for "Test and monitor your bot" under this tutorial. Hence the tutorial could not be fully completed. Please hel

[2021-08-17 08:40] IObert commented on #555
I fixed this and the new version should be live soon.

Thanks.

[2021-08-17 08:40] #555 closed

[2021-08-17 08:40] IObert commented on #556
Good catch as well. I fixed this and the new version should be live soon.

Thanks.

[2021-08-17 08:40] #556 closed

[2021-08-17 08:42] IObert opened #559 "Mission page shows old tutorial titles"
I noticed this in the following mission <https://developers.sap.com/mission.sapui5-cf-launchpad.html> (see mentions of "SAP Cloud Platform" and "Cloud Foundry Environment").

Can you please update this?
![Screenshot 2021-08-17 at 10 42 19](https://user-images.githubusercontent.com/1873245/129693736-b486bdc3-d6e7-4913-85c0-53e0e728dec2.png)

[2021-08-17 13:34] VijayKrishnanSR commented on #524
The updates have been published. Thank you once again.

[2021-08-17 13:34] #524 closed

[2021-08-17 17:22] matheusbrasil commented on #551
Hey @mfadili, please check the mta.yaml indentation. I believe that when you've done step 7, you may have broken the indentation.

[2021-08-18 09:54] Prathibha-Mouli commented on #557
Hi @wilmansantiago ,

Could you please describe exactly in which step you are getting this error?

[2021-08-18 10:34] AndyGla opened #560 "Implement Roles and Authorization Checks In CAP"
Tutorials: https://developers.sap.com/tutorials/btp-app-cap-roles.html
--------------------------

Dear @iwonahahn Iwona,

thank you for your excellent tutorial!

Just want to submit a minor bug in Step 4:

Within chrome the command to restart the browser needs to be chrome://restart wihtout blank.

Best wishes

Andy

[2021-08-18 10:59] wsantiagoe commented on #557
Hi @Prathibha-Mouli Prathibha-Mouli

I share the step by step.

When I open a new terminal and run npm run start or right click the app and select Preview Application, This work fine

However  why the launch configuration flow as referenced in the tutorial is not working.

Regards

Wilman S
[Presentación1.pptx](https://github.com/SAPDocuments/Issues/files/7006640/Presentacion1.pptx)

[2021-08-18 11:47] siouxme opened #561 "Deploy an SAP Conversational AI Chatbot to Microsoft Teams"
Tutorials: https://developers.sap.com/tutorials/conversational-ai-deploy-teams.html
--------------------------

The Bot Channels Registration is deprecated ...

In Azure: Warning
Web App Bot and Bot Channels Registration will be deprecated but existing resources will continue to work. You should use Azure Bot, instead.

[2021-08-18 18:16] cjbernal commented on #536
The change has been made to the tutorial and will be live once the SAP Devs tutorial team approves. Closing this. @klickerlebnis Thank you again for the feedback.

[2021-08-18 18:16] #536 closed

[2021-08-18 18:18] cjbernal commented on #537
As mentioned in #536 this tutorial has been updated to feature the above information as well. Closing this. @klickerlebnis Thank you for your feedback here, as well!

[2021-08-18 18:18] #537 closed

[2021-08-19 10:33] AlexMFrank opened #562 "Tutorial: Add Views and Define Routes to Access Them - Wrong first screenshot"
Tutorials: https://developers.sap.com/tutorials/sapui5-101-add-routing.html
--------------------------

The first screenshot shows the Chrome network tab screenshot from the previous tutorial "Create an Empty SAPUI5 Project" (https://developers.sap.com/tutorials/sapui5-101-create-project.html) instead of the creation of a file called List.view.xml in BAS.

[2021-08-20 08:49] uwe-klinger commented on #533
Hi Dmitri,

It's hard to tell when you only have partial access. To really track down the problem I would need to have access to the source code and the subaccount. But this is a level of support that I can't offer.

Sorry, I think my last hint was misleading. I remember that the "/" gets truncated by the `ui5 build` anyway. I think you need to check things one after the other. You could for examp

[2021-08-20 10:57] MichaelCzcz commented on #394
@Paolaufer Any updates?

[2021-08-20 10:58] MichaelCzcz commented on #507
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-08-20 10:58] #507 closed

[2021-08-20 10:58] MichaelCzcz commented on #510
Thank you for your feedback. The issue seems to be resolved, so I am closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-08-20 10:58] #510 closed

[2021-08-20 10:59] MichaelCzcz commented on #512
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-08-20 10:59] #512 closed

[2021-08-20 11:00] MichaelCzcz commented on #517
Thank you for your feedback. We haven't heard from you in a while, so we are closing the issue.

If you still have questions, feel free to reopen the issue.

[2021-08-20 11:00] #517 closed

[2021-08-22 07:12] Paolaufer commented on #394
Sorry, not yet.

[2021-08-23 05:29] lalithmanokar commented on #542
Reopening Still issue persist.

[2021-08-23 05:29] lalithmanokar commented on #540
Reopening ticket, issue still persist

[2021-08-23 06:17] Karunaharan commented on #540
Hi @lalithmanokar - checked with the provisioning team and there seems to be no issues in provisioning the capabilities in all 3 regions. Could you please check again?

[2021-08-23 07:08] SupriyaCherukunnathu commented on #221
@MichaelCzcz, we are awaiting confirmation regarding updating or removing this tutorial, will update here based on the final decision.

[2021-08-23 08:57] bhardwaj-rahul opened #563 "Installing SAP HANA, express edition with Docker"
Tutorials: https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html
--------------------------

The folder /data is not read-only with Mac OS Cataline and above. How should we change the config to read not from /data but from some other folder. I received the following error while performing Step 6 and Step 7
(https://developers.sap.com/tutorials/hxe-ua-install-using-docker.html) :

E

[2021-08-24 09:45] dkclaesk opened #564 "Deploy Your Business Application to Cloud Foundry"
Tutorials: https://developers.sap.com/tutorials/appstudio-cap-deploy-app.html
--------------------------

Not able to select plan "hdi-shared", only plan "securestore" is available.

[2021-08-24 09:52] dkclaesk opened #565 "Deploy Your Business Application to Cloud Foundry"
Tutorials: https://developers.sap.com/tutorials/appstudio-cap-deploy-app.html
--------------------------

Deploy is failing:

[cds.deploy] - Starting deploy to SAP HANA ...

[cds.deploy] - Creating build tasks
[cds.deploy] - Running build

[cds.deploy] - Using container hanainstance

[cds.deploy] - Running 'cf create-service hana hdi-shared hanainstance' with options {}
Creating service instance h

[2021-08-24 14:38] JCurrie27 commented on #563
Hi Rahul - I've CC'd you on a question to our Docker team asking about Mac OS Catalina.
Closing this issue. Best - John C.

[2021-08-24 14:38] #563 closed

[2021-08-25 05:03] i353590 commented on #540
Hello @Karunaharan ,

The issue is still reproducible in US region.
Provisioning of API Management still fails
Please re-open the ticket & check once again from your side.

Thanks,
Shubham

[2021-08-25 10:06] julieplummer20 commented on #528
Hi Vrum89,
You are right. I apologize. I will fix this at once.
Thank you for your general feedback!
BR Julie.

[2021-08-26 08:08] GregorMuenker1 opened #566 "Implement Your First Screen in an iOS App"
Tutorials: https://developers.sap.com/tutorials/fiori-ios-scpms-starter-mission-02.html
--------------------------

I have an Issue with Step 5 of this Tutorial as the class "Comsapedmsampleservicev2OnlineODataController" isn't found in scope. I have already tried switching the dataService declaration to the code from the GitHub :
https://github.com/SAP-samples/cloud-sdk-ios-maccatalyst-mission-pr

[2021-08-26 10:39] mounikat987 opened #567 "Get Started with the SAP BTP Command Line Interface (btp CLI)"
Tutorials: https://developers.sap.com/tutorials/cp-sapcp-getstarted.html
--------------------------

Hi,

I have installed BTP latest version (client v2.8.0) on windows and tried running few steps locally.
After every two or 3 command executions, it's  asking to re-login.
I am facing this issue today repeatedly. Please check on this.

![image](https://user-images.githubusercontent.com/33411431/130

[2021-08-27 06:45] #566 closed, assigned to KevinRiedelsheimer

[2021-08-27 08:01] ibwis opened #568 "Get Started with the SAP BTP Command Line Interface (btp CLI)"
Tutorials: https://developers.sap.com/tutorials/cp-sapcp-getstarted.html
--------------------------

There is a spelling mistake in the code: `btp enable **autocompletion** <**SHELL**>`

It should be : `btp enable **autocomplete** <shell>`

Better writing shell in low capitals, the parameter should be entered in low capitals also.

[2021-08-27 15:08] IObert opened #569 "Prepare SAP Web IDE for Cloud Foundry Development"
Tutorials: https://developers.sap.com/tutorials/sapui5-webide-open-webide.html
--------------------------

The tutorial is outdated as it still recommends to use the Web IDE in Trial accounts. Please update the tutorial or add a disclaimer that this can only be used in production accounts.

[2021-08-29 20:00] Paolaufer commented on #564
Hi,
I am afraid I am unable to reproduce your problem.
I just did the tutorial end to end following the instructions and I get "hdi-shared".
Could you please try again?

[2021-08-29 20:02] Paolaufer commented on #565
Hi,
I created an app and then deployed it following the instructions and encountered no errors.
I have updated some screenshots as I went along.
Could you please try again? Maybe this will help.

[2021-08-30 14:45] glageb opened #570 "Create a Reusable Service - error in application.yml"
Tutorials: https://developers.sap.com/tutorials/cp-cap-java-reusable-service.html
--------------------------

Hi

The step 6 in this tutorial is leading to wrong parameters in application.yml. After investigating the issues and doing changes in yml file, the following one worked nicely. I think documentation needs to be updated.

Thank you

Guilherme

`---
spring:
  profiles: spring.config.activat